[2013-10-21 09:00] florianpreusner opened #1 "[Insight] User specific files should not appear in .gitignore"
**[in .gitignore, line 4](https://github.com/8p/GuzzleBundle/blob/master/.gitignore#L4)**

[code]

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/5cf56080-9357-49a3-83b2-a3dd20a8a590/analyses/1)_

[2013-10-21 09:04] #1 closed, assigned to florianpreusner

[2013-11-10 01:05] florianpreusner opened #2 "Extend Debug Toolbar"
Add request/response information into Symfony debug toolbar.

[2013-11-10 01:17] florianpreusner opened #3 "Tests are missing"
This bundle should have more tests :+1:

[2014-10-22 14:52] m3co-code opened #4 "Introduce versioning and align with guzzle bundle."
Hey Florian,

I used your convenient bundle to integrate the guzzle library into my project. After doing a composer update it lead to an application error, caused through incompatible changes in the guzzle library, as you only provide dev-master as version and change the dependency on the underlying guzzle bundle in this version. Thus there is no way, as I see it, to work with a fixed version of g

[2014-10-22 20:19] #4 closed, assigned to florianpreusner

[2014-11-05 05:02] nachopants opened #5 "UndefinedMethodException: getEventDispatcher"
UndefinedMethodException: Attempted to call method "getEventDispatcher" on class "GuzzleHttp\Client" being thrown after adding the bundle to AppKernel.php and simply calling $client = $this->get('guzzle.client');

[2014-11-06 05:23] #5 closed, assigned to florianpreusner

[2014-11-29 11:30] #2 closed, assigned to florianpreusner

[2014-12-10 12:58] flopp26 opened #6 "Serialization of 'Symfony\Component\HttpFoundation\File\UploadedFile' is not allowed"
Hi, when I enabe your bundle in AppKernel I get this error when I submit form with UploadedFile. thanks for help

[code]

[2014-12-15 19:38] #6 closed, assigned to florianpreusner

[2015-04-09 15:47] andywooyay opened #7 "Query strings cause serialising issues"
If I run:

`$response = $client->get('hello');`

Everything works correctly, but if I add a query string:

[code]

Everything works correctly but the Symfony profiler chokes and throws:

`Exception in DataCollector.php line 35: Serialization of 'Closure' is not allowed`.

I'm having comment out `$this->addLogs($messages);` in `\EightPoints\Bundle\GuzzleBundle\DataCollector\HttpDataCollector` to av

[2015-04-13 19:28] florianpreusner commented on #7
Which version have you used? I'm not able to reproduce by running dev-master...

[2015-04-15 14:00] andywooyay commented on #7
I used `composer require`, so ~2.1 with Symfony 2.6.6.

[2015-04-17 19:02] florianpreusner commented on #7
I have created a new symfony project with guzzle bundle version 2.1.0. I'm getting different issues. Using dev-master seems to work without any problems. I will create a new version this weekend.

[2015-05-15 12:37] ip512 commented on #7
I have the same kind of issue on all forms when a file is uploaded, even if I don't use Guzzle.
I commented $this->addRequest($request, $response); in the Datacollector to avoid the issue

[2015-05-17 19:10] florianpreusner commented on #7
Changed the behavior for collecting debug information. It would be great if you can test again using dev-master. If everything is fine I will create a new tag/version. Thanks.

[2015-05-17 20:44] ip512 commented on #7
It seems to works fine with dev-master, thank you for the fix

[2015-05-18 06:04] florianpreusner commented on #7
Released 2.1.1.
Thanks for your contribution and testing!

[2015-05-18 06:04] #7 closed

[2015-05-19 07:48] respinoza opened #8 "Guzzle is trying to serialize a PDO object, fails with a PDO Exception"
It seems that the new way the logging work is breaking as Guzzle is trying to serialize a PDO object.
As you already know, they cannot be serialized so a PDO Exception is thrown.

I can confirm it works fine in b4fd12fb232ae57bb41f68c84e045d17823e7ef1

What information do you need to debug this?

Thank you

[2015-05-19 07:52] florianpreusner commented on #8
Hi,

thanks for your information.

- Which version of bundle are you using?
- Can you provide some snippets of code to see how you are using Guzzle with PDO objects?

Best regards
Florian

[2015-05-19 08:54] nurikabe commented on #8
Seeing the same thing here:  Seems to be crashing when rendering a controller:
`{{ render(controller('Bundle:Controller:action')) }}`

from within Twig.

I haven't dug much deeper than this but I'm going to guess that GuzzleBundle needs to be aware of a master request versus a sub-request when serializing.

We've been using dev-master until now.

[2015-05-19 17:03] p-bizouard commented on #8
Same here. When I enable the bundle I got this :

[code]

My page is fully loaded, I see the template results, but at the end of the page an exception is thrown.
When I disable the bundle, everything works fine.

Cache cleared, not any Guzzle function called, cookies cleared

[2015-05-19 19:05] florianpreusner commented on #8
I have tried to reproduce this bug but I'm not able to get this exception. I tested using rendering a controller inside a twig template. I got a Guzzle request inside this controller, also one in the main controller. I'm getting no error. All classes inside this bundle are not using closures.

Using PHP 5.5.10 and Symfony 2.6.7.

Can someone try to deactivate using "Request" in collect function in

[2015-05-20 02:06] respinoza commented on #8
Florian,

If I pull the latest commit and disabled the Request by commenting out the line 65 in HttpDataCollector
`$logGroup->setRequest($request);`

No PDO Exception was thrown.
Now, I don't have a snippet but the problem arises when a Request attribute is an entity.

Specifically, I am seeing this problem in a sub-request (fragment) as my controller action is expecting an object of type X, like:

[2015-05-20 03:34] florianpreusner commented on #8
Now the collector is just storing a name of the request instead of the whole object. This should fix the issue. Please verify so I can create a new tag/version. Thanks!

[2015-05-20 03:48] respinoza commented on #8
Thank you for the quick fix.
I pulled your changes and started running the tests from my application. I will let you know in an hour if everything worked as expected.

[2015-05-20 04:36] respinoza commented on #8
Everything seems to be working.

Thank you again for the quick fix.

[2015-05-20 04:36] #8 closed

[2015-05-20 04:45] florianpreusner commented on #8
You are welcome. Thanks also.

[2015-05-20 08:27] p-bizouard commented on #8
Everything works fine here too. Thank you

[2015-06-14 14:28] e-moe opened #10 "wsse not working?"
Plugin attached by `guzzle.emitter` in GuzzleExtension.php. Is it still available in Guzzle6?

[2015-06-14 14:36] florianpreusner commented on #10
[WSSE Plugin](https://github.com/8p/guzzle-wsse-plugin/releases/tag/v2.0.2) is not compatible with Guzzle 6 and has to be changed. That's why it is commented out. Will be fixed soon (hopefully today/tomorrow).

Please use version 2.x to use WSSE.

[2015-06-14 18:13] #10 closed

[2015-06-18 07:38] luismatesanz opened #11 "Error parse file services"
Unable to parse file "/vendor/eightpoints/guzzle-bundle/EightPoints/Bundle/GuzzleBundle/DependencyInjection/../Resources/config/services.xml".

Element '{http://symfony.com/schema/dic/services}factory': This element is not expected.

I installed it but doesnt work.

Can you help me?

[2015-06-18 07:53] #11 closed

[2015-06-18 07:54] luismatesanz commented on #11
Sorry. I have install version symfony 2.3.* and its dont work.

[2015-06-26 06:30] Cbruyere opened #12 "Current dev-master don't work with symfony 2.3"
Hello,
I tried to use dev-master in symfony 2.3 but unfortunately composer update gived me this error :
(same error using ~3.0)

 [Symfony\Component\DependencyInjection\Exception InvalidArgumentException]
Unable to parse file "/var/www/apmystorage/vendor/eightpoints/guzzle-bundle/EightPoints/Bundle/GuzzleBundle/DependencyInjection/../Resources/config/services.xml".

Is there any known issue ? or a

[2015-06-27 16:48] florianpreusner commented on #12
Hi,

this problem seems to be related that expression language is only supported >= 2.4. dev-master/3.x is using expression language in services.xml.

Please try to use version 2.x if you are not able to upgrade to symfony >= 2.4 - for example.

Hope that helps. Going to update README.md to add this requirement.

Best regards
Florian

[2015-06-27 17:07] florianpreusner commented on #11
You can try to use version 2.x of this bundle to get it running. Maybe this helps.

[2015-06-29 14:53] sebastianblum opened #13 "Several clients"
Hello!

I like your bundle and want ask, if you can add support for several clients.

like this:

    guzzle:
        apiClient:
            plugin:
               wsse:
                   username: acme
                   password: pa55w0rd
        legacyClient:
            base_url: /old/api/without/wsse

Or has anyone a better idea for several clients in one application?

Thank you very much

[2015-06-30 07:02] florianpreusner commented on #13
Hi,

thanks for this idea. I will think about how this feature can be implemented next days. Seems to be a useful functionality.

Best regards
Florian

[2015-07-03 07:15] Cbruyere commented on #12
Oh sorry I didn't notice requirements for this bundle, thanks a lot for your answer I will up to SF 2.4
regards.

[2015-07-03 07:36] Cbruyere commented on #12
Well, I had up to symfony 2.4 PHP 5.6 and I have the same problem :+1, sorry to re-open this issue.

[2015-07-03 09:52] florianpreusner commented on #12
Ok, found the issue.
Following error appears when using Symfony 2.4.10:

    [InvalidArgumentException]
    [ERROR 1871] Element '{http://symfony.com/schema/dic/services}factory': This element is not expected. (in /var/www/guzzletest/ - line 52, column 0)

Factory is used to to push middlewares like logging or header modifications to Guzzle handler:

    <service id="guzzle.handler" class="GuzzleH

[2015-07-03 09:52] #12 closed

[2015-07-03 18:56] Cbruyere commented on #12
no problem florian, It was just to tell you there was a problem with requirements :) very good job.

[2015-07-12 18:25] florianpreusner commented on #13
Hi,

I'm sorry, but I'm not having time to add this feature this right now. Maybe I will find some time next week or the week after.
Sorry. If someone has a idea I would be grateful.

Best regards
Florian

[2015-07-22 20:32] florianpreusner commented on #13
Added functionality. Please check if everything is implemented like expected.
Thanks.

[2015-07-23 13:51] sebastianblum commented on #13
Hello!

Thank you very much for the feature, you implemented a great solution.

But now we have a BC break.
My intension was the following:

    guzzle:
        base_path: ...
        plugins: ...

        clients:
            crm_client:
                base_path: overwritten base path
                plugins: overwritten plugins

So you can use only one client or you can defined additional clien

[2015-07-24 10:48] florianpreusner commented on #13
Hi,

yes, this is a BC break but I guess it is not a good idea to have such a dynamic configuration to allow a single client *and* multiple clients. With the implemented version you are able to setup one or more clients. When using a alias you are still able to get the single client by your preferred name like mentioned in README.md.

Best regards
Florian

[2015-07-24 14:47] #13 closed

[2015-07-27 07:21] sebastianblum commented on #13
yes, if BC break is no problem for you, I'm fine. Thank you very much for your help and support

[2015-07-27 07:24] florianpreusner commented on #13
You're welcome.

Going to release a new major version (v.4.0.0) soon so there will be no break in other versions.

[2015-07-30 09:32] sebastianblum opened #14 "How to set Header with dash"
Hello!

I want to add the header "Content-Type" and tried this configuration:

	guzzle:
	  clients:
	    emailApi:
	      base_url: %email_api.uri%
	      headers:
	        'Content-Type': "application/json"
	      plugin:
	         wsse:
	           username: %username%

The debug toolbar tells me, that the header is Content_Typpe (with underscore).

How can I send a header with dash?

[2015-07-30 13:09] florianpreusner commented on #14
Now your configuration should work, underscores are going to be converted back as dashes (underscores are also not allowed in HTTP standard). The processor is normalizing yaml keys because of yaml standard conventions: https://github.com/symfony/symfony/issues/7405

[2015-07-30 13:09] #14 closed

[2015-07-31 08:34] sebastianblum opened #15 "WSSE does not work"
hello Florian,

Thank you very much for your support, the last issue with the Content-Type-Header is working now.

At the moment, the wsse token is ignored, this is my configuration:

[code]

In the console, I don't see the X-WSSE header:

![bildschirmfoto 2015-07-31 um 10 33 43](https://cloud.githubusercontent.com/assets/551751/9003607/a64930a2-376f-11e5-919e-f18878999593.png)

Thank you very muc

[2015-07-31 09:32] florianpreusner commented on #15
Hi,

yes, this is bug that WSSE headers are not displayed. But they should be send by Guzzle. The problem is, that every time a header is added a new request object is created. That's why it is not recognized by profiler.
Going to think about a solution.

Best regards

[2015-08-03 20:56] #15 closed

[2015-08-04 18:33] smartinsalmeida opened #16 "Attempted to call an undefined method named "send" of class "GuzzleHttp\Psr7\Response""
I've updated to symfony 2.7 and PHP to 5.5
Get this error.

What i'm missing ?

[2015-08-04 19:16] florianpreusner commented on #16
Hi,

please provide more information:
- which version of this bundle are you using?
- how does your code look like?
- please share your configuration if this bundle

Thanks.

[2015-08-04 19:20] smartinsalmeida commented on #16
HI and thanks

"eightpoints/guzzle-bundle": "dev-master"

config.yml

guzzle:
    clients:
        api_wiki:
            base_url: "http://fr.wikipedia.org"

            headers:
                Accept: "application/json"

THE code

 $client   = $this->get('guzzle.client.api_wiki');
 $request = $client->get("/w/api.php?action=query&prop=extracts&exintro=&format=json&continue=&titles=**whatever**")

[2015-08-04 19:50] florianpreusner commented on #16
Hi,

thanks for adding data.
You don't have to use send() anymore. When using get() a response will be returned directly:

[code]

You can find more information in Guzzle documentation: http://docs.guzzlephp.org/en/latest/

Best regards
Florian

[2015-08-04 19:50] #16 closed

[2015-08-21 07:37] bartek1234321 opened #18 "Response problem"
I do something like this:
$client = $this->get('guzzle.client.xxx');
$response = $client->post('some_url');
echo $response->getBody()->getContents(); // returns empty string, why?

I do request to http://xxx.yyy/api/test and in ma browser I get correct reponse in json {"zzz":111}
what is wrong?

[2015-08-21 07:49] bartek1234321 commented on #18
$response->getBody(); it's enough ;) my fault sorry ;)

[2015-08-21 07:49] #18 closed

[2015-08-29 16:24] yvmarques opened #19 "Error in RequestHeaderMiddleware if headers are missing"
Looks like the method getHeaders returns null if you don't set any header in the configuration.

[2015-09-01 14:48] #19 closed

[2015-09-01 14:50] florianpreusner commented on #19
Hi,

thanks for your report. Can you verify that the fix is working for you? I'm going to create a new version if everything is fine.

Thanks and best regards
Florian

[2015-09-01 19:13] yvmarques commented on #19
Hi,

It works for me :+1:

-- Yvan

[2015-09-03 11:18] foaly-nr1 opened #20 "Assetic error in Symfony 2.7"
When warming up the cache, assetic is throwing the following error:
`assetic.ERROR: The template "GuzzleBundle::profiler.html.twig" contains an error: The function "dump" does not exist in "GuzzleBundle::profiler.html.twig" at line 47`

This is because dump was introduced in added in Twig 1.5 and [Symfony 2.7 seems to be using Twig 1.2](https://github.com/symfony/TwigBridge/blob/11f782ad6f7971ebc9

[2015-09-10 07:40] florianpreusner commented on #20
Hi,

sorry for this late reply. Symfony 2.7.0 requires twig ~1.18. The bridge (posted link) requires ~1.20. Both versions are higher than 1.5. I'm not able to reproduce this error. Can you check which version of twig is installed by looking into composer.lock?

Best regards
Florian

[2015-09-16 13:51] cdwlighting opened #21 "Plugins"
I can't seem to find a way to addl handlers, plugins, Middleware or even add additional events to the guzzle package.  I have a use-case where in I need to be able to change an authentication header, and I'd like to provide a plugin that can handle the work. However; I don't see how to make it work currently.

My initial thought was to try and add the plugin but I don't see how that is loaded. The

[2015-09-19 22:08] florianpreusner commented on #21
Added handler stack as a service so you can now add your own middlewares/plugins.
You can get this version by setting the repo in composer.json:

[code]

After getting this version you should be able to get the guzzle handler stack by the container and add your own middlewares:
[code]

Please check if that fits your request. If so I can integrate this change and also provide a documentation.

Best

[2015-09-19 22:56] cdwlighting commented on #21
I have a patch I've written that actually dispatches an event.

Sent from my iPhone

[2015-09-20 11:36] florianpreusner commented on #21
Can you share some more information cause your idea to be able to push middlewares to the handler stack seems to be interesting for others also.

[2015-09-21 21:03] quadland commented on #21
@florianpreusner  That pull request is the enhancement I spoke of.

Chris Warner

[2015-09-22 07:11] florianpreusner commented on #21
I see. Great! Thanks for your contribution, your PR is merged.

[2015-09-22 07:11] #21 closed

[2015-09-24 12:44] phjedi opened #24 "typo"
See DependencyInjection/GuzzleExtension.php:119

[code]

[2015-09-24 15:16] florianpreusner commented on #24
Thanks for this info. Fixed.

[2015-09-24 15:16] #24 closed

[2015-10-15 11:15] JHGitty opened #25 "Merge with CsaGuzzleBundle"
There is another bundle: https://github.com/csarrazi/CsaGuzzleBundle

Do you think about merging to it?

[2015-10-17 20:10] florianpreusner commented on #25
Hi,

thanks for your info. I will take a look at it to see if this can be done.

Best regards
Florian

[2015-11-10 14:05] patkar opened #27 "Bugfix release request"
@florianpreusner May you tag a new bugfix release please, so we can use #26? It's also the only pull request since the last release.

[2015-11-10 14:41] florianpreusner commented on #27
Hi,

sorry, you are right. Created a new minor version (v4.3.0).

Best regards
Florian

[2015-11-10 14:41] #27 closed

[2015-11-10 16:16] patkar commented on #27
Wuhuuuuu, big thanks

[2015-11-17 16:46] mlebkowski commented on #20
I have the same issue in my production environment. Symfony `v2.6.10`, Twig `v1.18.2`, GuzzleBundle `v4.2.1`.

This is because twig only loads the debug extension (with `dump` function) in debug mode. Run this with empty cache (`rm -fr app/cache/prod`) to confirm:

[code]

[2015-11-24 13:02] thim81 opened #28 "Question: Does your bundle support $client->postAsync() calls?"
I'm looking for a Symfony2 bundle that support Async call which is supported by Guzzle.

I tried to use but nothing happens, no error or warning.

[2015-11-27 19:12] florianpreusner commented on #28
Please provide more information, so your issue can be checked:

- version of bundle
- code snippet that uses $client->*Async(...
- make sure you have read the [FAQ](http://docs.guzzlephp.org/en/latest/faq.html#can-guzzle-send-asynchronous-requests)

This bundle only provides a integration into symfony. All features of Guzzle are available and should work.

[2015-12-04 10:32] xGouley opened #29 "Cannot composer install/update with sf 3.0"
Composer fails installing/updating GuzzleBundle with Symfony 3.0, that seems to brings HttpKernel v3.0 too.

[2015-12-04 11:03] xGouley commented on #29
Maybe a requirement like "symfony/whatever": "~2.6|~3.0" could to the trick ?

[2015-12-08 09:55] florianpreusner commented on #29
Thanks for this info. Following pull request was merged and should do the trick:
https://github.com/8p/GuzzleBundle/pull/30

[2015-12-08 09:55] #29 closed

[2015-12-21 10:33] Jaap-van-Hengstum opened #32 "LogMiddleware doesn't rewind the stream?"
I noticed that the LogMiddleware doesn't rewind the stream after logging, so you have to do a `seek(0)` on the stream before you can read the body.

I guess this is done intentionally but I couldn't find any documentation on whether Guzzle handlers should handle resetting the stream after reading the body.

[2015-12-22 16:41] florianpreusner commented on #32
Hi,
sorry, I don't get it. Can you share some more information? So I can take a look.

Which stream do you mean? And how do you access it?

Thanks

[2015-12-22 17:50] Jaap-van-Hengstum commented on #32
I'm testing with a simple webservice that just returns some json content. When I use the GuzzleBundle provided Guzzle Client, I have to explicitly rewind the stream.

[code]

[2015-12-22 18:04] Jaap-van-Hengstum commented on #32
I see now it's my fault. `GetContents()` only reads the remainder of te stream, you have to type `$contents = (string) $response->getBody();` to read the all the data of the stream.

This does work:

[code]

[2015-12-22 21:24] florianpreusner commented on #32
No problem :+1:

[2015-12-22 21:24] #32 closed

[2016-01-08 12:22] #28 closed

[2016-01-08 14:50] #3 closed

[2016-01-08 16:08] florianpreusner opened #33 "change profiler logo for Symfony 3"
Because of the new profiler look the guzzle logo is too dark and small. This should be changed.

[2016-02-02 19:40] sebastianblum opened #34 "Overwritting WssePlugin"
Lieber Florian,

ich bin so frei und schreibe direkt auf Deutsch. Aktuell stehe ich vor der Herausforderung, dass eine API, die ich mit WsseToken ansprechen möchte, nur einen MD5 Nonce erlaubt.

Gar kein Problem, dachte ich zumindest, einfach die Klasse WsseAuthMiddleware (https://github.com/8p/guzzle-wsse-middleware/blob/master/src/EightPoints/Guzzle/WsseAuthMiddleware.php) vererben, Methode gene

[2016-02-02 21:25] sebastianblum commented on #20
The problem is, that the method Dump is only available in environments with enabled debug.

So in production, the dump method is not available.

[2016-02-02 22:28] florianpreusner commented on #20
Yes, this could be a solution!

[2016-02-03 07:54] florianpreusner commented on #34
Hi,

wäre vermutlich genauso vorgegangen. Hätte eigentlich auch erwartet, dass es genau so funktioniert.
Deine Änderung behebt aber das Problem. Danke dafür!

Beste Grüße

[2016-02-03 09:19] #34 closed

[2016-04-01 14:45] surikman-git opened #36 "Logging"
Hi,

In configuration is possible to disable logging...
But you never use this configuration and still logging all output...

My script call in cycle cca 16milions reqests - but after 16000 request it takes cca 250 MB of memory!

when I override Logger and set

parameters:
    guzzle_bundle.logger.class: Tsm\ServerBundle\Service\DevNullGuzzleLogger

then memory is still in same value (+-)

Is poss

[2016-04-08 17:43] pdoreau opened #38 "Oauth authentication"
Hi.
I'm trying to figure out how to request an API which require oauth 2 Authentication.
 *  /v2/oauth/token has to be used with basic Auth to get a Bearer token
 * every requests must contain the token
 * after 3600s, the token is expired and a new /v2/oauth/token call is needed

Any recommended way to implement this ? Are [events](https://github.com/8p/GuzzleBundle#listening-to-events) the place

[2016-04-18 15:35] nikita2206 opened #39 "Query option breaks BC if one doesn't use it"
Apparently commit d79f2fc324c5f7d58e1169fb857fd14beb5e760b (in version 4.5.0) indirectly broke a simple use case when not using this option at all.

If you try to pass a `$uri` to the `Client#request()` method (or any of the `request` family for that matter) which contains `query`, Guzzle will disregard it and instead it will use `query` from the `$options` array. Even though we didn't put `query`

[2016-04-19 08:45] iSDP opened #40 "Following the readme, this does not work."
Having followed the readme, and having put the neccesary info in app/config/config.yml by the instructions, i'm getting a "missing service" when trying to use $this->get()

The instructions are very unclear and could use a more in depth explanation and a step by step guide on how to use this bundle....

[2016-04-19 08:49] florianpreusner commented on #40
Have you defined a client in your configuration? So in the README.md we are defining two clients called  "api_payment" and "api_crm". You have to use the same name to use this service.
For example:
```$client   = $this->get('guzzle.client.api_payment');```

Can you provide your config?

[2016-04-19 08:51] iSDP commented on #40
**AppKernel.php**
`
$bundles = [
            new Symfony\Bundle\FrameworkBundle\FrameworkBundle(),
            new Symfony\Bundle\SecurityBundle\SecurityBundle(),
            new Symfony\Bundle\TwigBundle\TwigBundle(),
            new Symfony\Bundle\MonologBundle\MonologBundle(),
            new Symfony\Bundle\SwiftmailerBundle\SwiftmailerBundle(),
            new Doctrine\Bundle\DoctrineBundle\Do

[2016-04-19 08:54] florianpreusner commented on #40
In your config your client is called "telegram_bot". In your service call you name it "*group". You should change that:
```$this->get('guzzle.client.telegram_bot');```

[2016-04-19 08:55] iSDP commented on #40
Still, missing service :confused:

[2016-04-19 08:58] #40 closed

[2016-04-19 09:01] florianpreusner commented on #40
Ok.
But anyway, we should update the README to make it more clear to use the same name of client in service call. Will do that later.

[2016-04-21 08:36] yoedumar commented on #39
I had the same issue after update to 4.5.0
Rewrite all my `client->get($uri)` where $uri had a query string (/api?someparam=value) with `client->get($uriWithoutQueryString, array('query' => array('someparam' => 'value')));`

[2016-04-21 09:05] florianpreusner commented on #39
Okay, that's a bug, cause was not planned to change the behavior. Will check that later.

[2016-04-21 15:12] derrabus commented on #39
We just ran into the same regression. For now, we rolled back to v4.4.1, which worked fine for us.

[2016-04-28 18:44] florianpreusner commented on #39
Released new version: https://github.com/8p/GuzzleBundle/releases/tag/v4.5.1

[2016-04-28 18:44] #39 closed

[2016-05-02 09:36] grzegorztomasiak opened #43 "Can't get Content of the Body using this Bundle"
$client = $this->get('guzzle.client.api');
        $response = $client->get('/api/users);
        var_dump($response->getBody()->getContents()); //empty

        $client = new \GuzzleHttp\Client();
        $res = $client->request('GET', 'http://local.project/api/users');
        var_dump($res->getBody()->getContents()); //gives content

If I do request using Guzzle Client it works, but when I use

[2016-05-02 17:13] GCalmels commented on #43
Hey, I think it's because you have to deserialize the body :
[code]

It should work!

[2016-05-02 18:46] grzegorztomasiak commented on #43
Wow, it really does work :) Thanks man! I think this should be documented somewhere...

[2016-05-02 18:46] #43 closed

[2016-05-18 13:29] MLKiiwy commented on #21
Hello,

I try to add some middleware in my guzzle client, but your service id for handler doesn't exist anymore. And if I see your code your system that create handler is totally static we can't add handler ?

[2016-06-02 10:07] #33 closed

[2016-06-03 13:57] mathielen opened #45 "Add ability to set createdAt offset for wsse middleware"
Please provide the ability to configure the wsse plugin that is created here: https://github.com/8p/GuzzleBundle/blob/master/DependencyInjection/GuzzleExtension.php#L123

I need a way to set the created-timestamp-offset-expression:
https://github.com/8p/guzzle-wsse-middleware/pull/10

Thanks

[2016-06-03 14:10] #25 closed

[2016-06-03 22:12] florianpreusner commented on #45
@mathielen Can you check if the new implementation of given PR (https://github.com/8p/GuzzleBundle/pull/46) is working for you?

[2016-06-07 18:47] marcj opened #48 "$response->getBody()->getContents() returns always empty content"
[code]

My code:

[code]

$this->githubClient is a `\GuzzleHttp\Client` instance configured through the guzzle bundle.

This whole stuff works, when I run `$response->getBody()->rewind();` before getContents call.

[code]

I guess it has something todo with this bundle, as it reads already the body for the profiler tab. I guess you should call `rewind()` when you read the body for your purposes. H

[2016-06-08 12:31] florianpreusner commented on #45
Merged. New version of GuzzleBundle will be released today/tomorrow.

[2016-06-08 12:31] #45 closed

[2016-06-18 12:13] iSDP opened #49 "Headers set in config.yml not overridden by passed options"
I've set the header in config.yml as following, using anonymous OAuth authentication

[code]

Later, when a user is authenticated, i replace the header in the code:

[code]

And when i check on the logs, i find this:

[code]

As you can see, the Authorization header is **not** being replaced :(

What's going wrong here?

[2016-06-21 20:33] ppounder opened #51 "Documentation for HandlerStack"
Is there any possibility in updating the documentation to advise how to add Handlers. I can see the functionality has been added via https://github.com/8p/GuzzleBundle/issues/21 but I am not understanding how we can integrate this in.

I am trying to use the GuzzleHttp\Subscriber\Oauth\Oauth1 middleware which can be added onto the HandlerStack, not sure how to do this via this bundle.

Hope you ca

[2016-06-23 22:03] sergiu-popa opened #52 "Request with cookie"
Hello,

I'm trying to send a request with a cookie but it seems I can't quite figure it out:

[code]

`$response = $client->request('POST', 'path', ['form_params' => $send, 'cookies' => $jar]);`

Log:  Hostname x.x.x.x was found in DNS cache \* Trying x.x.x.x... \* Connected to x.x.x.x port 88 (#1) > POST /path HTTP/1.1 Host: x.x.x.x User-Agent: GuzzleHttp/6.2.0 curl/7.43.0 PHP/5.6.20 Content-Type

[2016-07-22 13:24] asprega commented on #20
Reviving this thread: I wonder what's the point of having debug stuff available when you're warming up a non-debug cache. Couldn't we just "exclude" that when the kernel debug flag is set to false?

[2016-07-23 23:31] Rafaelgfirmino opened #55 "Build error"
Hey man.

How can we solve the test that are failing ?

Will we could not remove the 5.5 version of php travis CI , put the composer version > = 5.4 phpunit and replace the deprecated versions of phpunit? .

[2016-07-24 11:25] florianpreusner commented on #55
You are right. We should not support PHP 5.5 anymore because it also reached it's End of Life (http://php.net/supported-versions.php). We should also stick to PHPUnit <= 5.4. 👍

[2016-07-24 11:57] #55 closed

[2016-07-24 12:33] Rafaelgfirmino commented on #55
Thanks man!
Don’t forget to release a new version because of packagist.

There are already many commits the front of the version 4.5.1

[2016-07-24 13:11] florianpreusner commented on #55
Release v5.0.0 because of BC break.
https://github.com/8p/GuzzleBundle/releases/tag/v5.0.0

[2016-07-27 13:57] mathielen opened #58 "Integrate guzzle-oauth2-plugin"
Hi again ;)

Would be great to see https://github.com/Sainsburys/guzzle-oauth2-plugin integrated. Its the only OA2 plugin for Guzzle 6 afaik.
For now, I had to do it the old way, but having all configuration regarding guzzle in one place would be awesome.

Its pretty simple:
[code]

Best regards
Markus

[2016-08-04 11:20] piron4o commented on #38
You can use guzzle_bundle.pre_transaction event:
[code]
To handle  401 Unauthorized  you can override ```EightPoints\Bundle\GuzzleBundle\Middleware\EventDispatchMiddleware``` to catch if the response is with status code >=400 (in this case ```GuzzleHttp\Exception\RequestException``` is thrown):
[code]

[2016-08-05 14:03] florianpreusner commented on #38
Thanks for your answer @piron4o!

[2016-08-05 14:03] #38 closed

[2016-09-29 14:40] siraic commented on #48
`GuzzleBundle/Log/LogResponse.php:70` and `GuzzleBundle/Log/LogRequest.php:103` read the full body without resetting the pointer after.

Best would probably be if they store the location of the pointer, read the contents, and reset it to previous point after reading.

As a quick fix you can use `__toSting()` instead of `getContents()`; `__toString()` will always read from the start of the stream.

[2016-09-29 17:04] siraic opened #61 "Logs are cleared when Exception is shown in development"
When an exception occurs in development, a subrequest is made to `twig.controller.exception:showAction` to show the symfony exception page.

This means that a second call is made to `HttpDataCollector::collect`, this function contains the lines:

[code]

This means that on the second call, all message will be cleared, and none will show up in in the profiler.

Fixing this might be as simple as rem

[2016-09-30 14:25] florianpreusner commented on #61
Thanks!

[2016-09-30 14:25] #61 closed

[2016-09-30 18:27] florianpreusner commented on #48
Released new bugfix versions:
- https://github.com/8p/GuzzleBundle/releases/tag/v4.5.3
- https://github.com/8p/GuzzleBundle/releases/tag/v5.0.3

[2016-09-30 18:27] florianpreusner commented on #48
Thanks for contribution, @siraic!

[2016-11-02 07:28] #36 closed

[2016-11-02 21:14] florianpreusner opened #72 "Deactivate logging/profiler/data collector completely"
When setting the option "logging" to false no logging class should be created. Also the data collector (used for profiler) is not necessary than.

[2016-11-02 21:16] florianpreusner opened #73 "Remove WSSE Plugin, create separate Bundle"
WSSE is deeply coupled to GuzzleBundle. It would be nice to have the possibility to register plugins, but optionally.

[2016-11-02 21:22] florianpreusner opened #74 "Improve Profiler Layout"
Some textareas are pretty small by default. This should be improved. Also some new screenshots should be created and inserted into README.md.

[2016-11-07 19:52] ThomasTr commented on #48
This issue seems not solved.
I have the same behaviour here: If logging: true i have to rewind to see the body.
I'm on eightpoints/guzzle-bundle": "^5.1"

[2016-11-09 14:29] florianpreusner commented on #48
To take a closer look into this issue it would be great if you can check if the new code is really executed: https://github.com/8p/GuzzleBundle/blob/3c309629b8b93cc65d7654e18b878b31aab78613/Log/LogRequest.php#L100

[2016-11-09 16:36] ThomasTr commented on #48
Hi Florian,
code is executed, when logging is enabled. I modified therefore the code a little bit:

`
        if($request->getBody() && $request->getBody()->isSeekable()) {
            $readPosition = $request->getBody()->tell();
            var_dump($readPosition);
        }

        $this->setBody($request->getBody() ? $request->getBody()->__toString() : null);

        if($readPosition) {

[2016-11-12 09:33] siraic commented on #48
Hi ThomasTr,

The first output indicates that the read position is already at 321 before the guzzle bundle logging starts. I think you have other logging(?) middleware earlier in your handler stack that already consumed the body without rewinding.

[2016-11-14 15:42] ThomasTr commented on #48
Hi,

i do only the normal logging into several channels, nothing special.

[2016-11-21 12:54] numediaweb opened #77 "Cannot set headers (results in 406 Not Acceptable response)"
I'm using the bundle inside a service but cannot set the headers using settings:
_config.yml_:
[code]

_services.yml_
[code]

_MyConnect.php_
[code]
The strange thing is that my IDE (PhpStorm) does not detect the service `"@guzzle.client.my_x_client"` but detects `"@guzzle.client.8p_guzzle_client"` inside the _services.yml_

[2016-11-28 18:58] leonardocamargo commented on #77
Same here, any solutions?

[2016-11-29 10:08] emirb commented on #48
Same problem here, even with a clean Symfony install, meaning that turning on this bundle's logging effectively breaks responses.

## Steps to reproduce
1. Install Symfony 3.1 using Symfony installer:
[code]

2. Require the bundle via composer:
[code]

3. Load the bundle in AppKernel
4. Add a sample debugging client in `config.yml` with logging enabled:
[code]

5. Sample controller code:
[code]

`

[2016-12-04 23:14] florianpreusner commented on #77
Sorry for the late answer 😞
You are right. It seems that all headers in the configuration are not used in any request. I've created a new branch with a hotfix/workaround: https://github.com/8p/GuzzleBundle/pull/78

It would be great if you can test if this change solves your problem. Afterwards I will clean up the changes and release a new version.

[2016-12-08 15:59] tzfrs opened #79 "Add custom middleware in the BundleExtension"
Hi,

I want to have a middleware which will be used on every request. That's why I want to set the definition for that in my `BundleExtension` class. However, I don't seem to get it working.

In the issue #21 you said to call `$stack = $this->get('guzzle.handler_stack.NAME_OF_CLIENT_BY_CONFIG');` to get the handler and then add the middleware by using the `push` method, or in my case, using `addMe

[2016-12-11 13:43] florianpreusner commented on #77
Released: https://github.com/8p/GuzzleBundle/releases/tag/v5.2.0

[2016-12-11 13:43] #77 closed

[2016-12-11 20:50] florianpreusner commented on #48
The problem is that $response->getBody()->getContents() is changing the position of seek to *0*. So when using getContents() this behavior appears. When using __toString() or (string) $response->getBody() everything works fine because this function uses rewinding: https://github.com/guzzle/psr7/blob/master/src/Stream.php#L93

I think it's totally valid to rewind directly in [Log/LogResponse:77](ht

[2016-12-11 21:02] florianpreusner commented on #48
Implemention/Fix can be found in following PR: https://github.com/8p/GuzzleBundle/pull/80
Would be awesome if someone can check if everything works like expected. Did some tests, should be fine.

Going to release a new version tomorrow evening (Monday, December 12, 10pm) if nothing gets reported.

[2016-12-12 13:49] numediaweb opened #81 "No matching accepted Response format could be determined"
When I call an oAuth v2 end point with CURL it works:
[code]
When I use the Guzzle client:

[code]
I get this error (from the end point which is also a Symfony application):
[code]

Why does it work in CURL and not in Guzzle?
I'am using `"eightpoints/guzzle-bundle": "^5.2",` with this config https://github.com/8p/GuzzleBundle/issues/77

[2016-12-12 13:53] florianpreusner commented on #81
Why are you using 'set_headers' instead of 'headers' as a key in $options?
http://docs.guzzlephp.org/en/latest/request-options.html#headers

[2016-12-12 13:57] florianpreusner commented on #81
Maybe the documentation is not really clear: ```(@deprecated, will be removed in v6; new: set headers in options)```
I will change that sentence if this was the issue.

[2016-12-12 14:21] numediaweb commented on #81
You are right @florianpreusner the description might be confusing. I fixed it now by setting the correct header:
[code]

This issue can be closed :)

[2016-12-12 14:24] florianpreusner commented on #81
👍

Fixed description: https://github.com/8p/GuzzleBundle/commit/2b6eb8ad5169d573e701075fe90118deb6e076b5

[2016-12-12 14:24] #81 closed

[2016-12-12 21:18] florianpreusner commented on #48
Released v5.2.1: https://github.com/8p/GuzzleBundle/releases/tag/v5.2.1

[2016-12-12 21:18] #48 closed

[2016-12-12 21:54] florianpreusner commented on #49
I tested this issue with the current v5.2.1 (https://github.com/8p/GuzzleBundle/releases/tag/v5.2.1) without any problems. So this seems to be fixed.

I used following code:
config.yml:
[code]

Controller:
[code]

[2016-12-12 21:54] #49 closed

[2016-12-13 16:08] florianpreusner commented on #79
True, ```handler``` is not part of the container (anymore). This is nothing that was planned.
I will take a look into this today evening. Let's see if we can find a nice solution.

[2016-12-14 23:07] florianpreusner commented on #79
Well that doesn't seem to be easy. I tried by adding handler stack as a service to inject other middlewares. Unfortunately that doesn't work cause it's passed directly on creating the client - thanks to Psr7 and immutability.

I need to find a different solution for that cause I think it's a useful feature. But this will take some time 😕  I will try my best to find some time on the weekend.

[2016-12-14 23:15] florianpreusner commented on #79
@tzfrs
You can access the handler (after creating the client) by using following function:
```$client->getConfig('handler')->push(CLOSURE);```
By this command you should be able to register your own middlewares.
This should also work in service configuration.

Please let me know if that works like expected.

[2016-12-15 07:50] RootProgger opened #82 "Header Content-Type in options doesn't work"
i try to setup a handler in config.yml, but the "Content-Type" doesn't work in request.
config.yml:
[code]

Now when i call:
[code]
the charset is not set.
But when i set the headers in post-call:
[code]
The Charset is correct set

[2016-12-15 08:39] florianpreusner commented on #82
You are totally right. I will fix that asap.
Until than you can use a workaround to set headers by the deprecated approach (using ```headers``` directly on root hierarchy  of client.

Example:
[code]

[2016-12-15 08:45] RootProgger commented on #82
I try that too but that also doesn't work.
Only when i set the Content-Type in Post-Call it work.

[2016-12-15 08:52] tzfrs commented on #79
I think this would work, however this would mean, I cannot register any middleware via compiler pass or with tags, since I'm not able to get a service via CompilerPass, but only the definition. I think the problem is that the client gets generated in the `Extension` and not in the CompilerPass.

[2016-12-15 09:18] florianpreusner commented on #79
Ok, got it. Let me check that.

[2016-12-15 09:26] florianpreusner commented on #82
I've tried it again and it works for me by using following code:
config.yml:
[code]

Controller:
[code]

Output Request:
<img width="536" alt="bildschirmfoto 2016-12-15 um 10 22 38" src="https://cloud.githubusercontent.com/assets/728558/21218399/bb4417c4-c2b0-11e6-9d97-d5892b646d7c.png">

I used dev-master which is similar to latest stable version 5.2.1.

[2016-12-15 09:27] RootProgger commented on #82
Look at your Content-Type in Request, there's no charset only type

[2016-12-15 10:14] florianpreusner commented on #82
You are right. Didn't saw this, sorry.
Unfortunately this is something that comes from Guzzle Client. By using ```form_params``` this header will be overridden by Guzzle: https://github.com/guzzle/guzzle/blob/master/src/Client.php#L303

So without using form_params everything works like expected (except using headers in options, which is still a bug).

[2016-12-18 21:26] florianpreusner opened #84 "Headers: form_input post overrides given header "content-type""
As mentioned in #82, Guzzle overrides header "Content-Type" if option 'form_params' is given.
This should be fixed, cause already existing content type headers should not be overridden.

https://github.com/guzzle/guzzle/blob/master/src/Client.php#L303
[code]

[2016-12-18 21:27] florianpreusner commented on #82
I created a new ticket regarding the override of content-type to split this two "bugs": https://github.com/8p/GuzzleBundle/issues/84

[2016-12-18 21:50] florianpreusner commented on #82
Released v5.2.2, fix: headers in options
https://github.com/8p/GuzzleBundle/releases/tag/v5.2.2

Issue with form_params and content-type will be continued in #84

[2016-12-18 21:50] #82 closed

[2016-12-23 13:13] Soullivaneuh opened #85 "Do not show profiler icon if no API call was made"
Like Symfony does for AJAX request, it would be great to not show the profiler icon without any API call.

[2016-12-26 08:03] florianpreusner commented on #85
I like that idea! Thanks.

[2016-12-28 12:51] Soullivaneuh opened #86 "Impossible to access an attribute ("statusPhrase") on a null variable"
On some Guzzle exception, like a connection refused, the response is empty.

It causes this error on the profiler:

[code]

From this template part:

[code]

Related exception:

[code]

We should check if the response exists before trying to get any property of it.

[2016-12-28 13:12] #86 closed

[2016-12-28 13:43] florianpreusner commented on #86
Thanks for the fix!
Released new version 5.2.3: https://github.com/8p/GuzzleBundle/releases/tag/v5.2.3

[2016-12-30 13:35] #85 closed

[2016-12-30 13:40] florianpreusner commented on #85
Released v5.3.0: https://github.com/8p/GuzzleBundle/releases/tag/v5.3.0

[2017-01-13 16:36] renanbr opened #90 "Injecting middlewares into the handler"
I would like to inject custom middlewares through service configuration, and I didn't understand how to do it with this library, even reading https://github.com/8p/GuzzleBundle/issues/21, https://github.com/8p/GuzzleBundle/pull/22 and https://github.com/8p/GuzzleBundle/issues/79

Once I didn't understood how to do it, I've started thinking how this bundle could provide it. It's the first time I'm

[2017-01-21 22:10] florianpreusner commented on #52
I tested the behavior with your given data and everything seems to work correctly. That's why I'm closing this ticket.

Used following data/code:
[code]

[code]

[2017-01-21 22:10] #52 closed

[2017-01-21 22:14] florianpreusner commented on #52
The option "cookies" is now available thanks to @TNAJanssen.

[2017-01-27 13:16] osavchenko opened #93 "Query parameters from client configruation are missed on GET call with attributes"
I have twi clients

[code]

With first client I make such requests:

[code]

And in this case I have appended query `access_token` to url like `https://foo.com/foo?access_token=some_token`.

And with second client I make such requests:

[code]

And in this case my query `apikey` is missing here.

Is it a bug or I use current bundle in incorrect way?

[2017-02-02 09:43] florianpreusner opened #96 "Deprecate PHP 5.x?"
I would like to use PHP7 features like type hinting. Therefore we have to require PHP >= 7.
It would be nice to get some feedback here.

PHP Release Process: https://wiki.php.net/rfc/releaseprocess
PHP 5 Active Support Ends: https://thephp.cc/news/2016/12/php-5-active-support-ends-now-what

[2017-02-02 20:52] wimme002 commented on #96
Since PHP 5.x is EOL since a few days I vote in favor of PHP >=7.
This will be a breaking change so I suggest to create a new major release for the package so users with PHP 5 can still use the old version without problems.

[2017-02-03 08:43] florianpreusner commented on #96
Yip, I agree. I would remove PHP 5 support in version 6 (already created a milestone for that). So version 5 (current version) still get some smaller support and will have PHP 5 compatibility.

[2017-02-03 19:40] wimme002 commented on #93
I don't think it's a bug.

When Guzzle Client is instantiated, the parameters in config are provided as array.
If you pass an option in the request, the client options with the same keys are overwritten.
(see https://github.com/guzzle/guzzle/blob/master/src/Client.php#L234 )

That said, the solution for your problem could be:

[code]

[2017-02-05 14:39] osavchenko commented on #93
Maybe it should be implemented in library?

[2017-02-06 10:14] florianpreusner commented on #93
@osavchenko
I think it's quite hard to solve that cause there are different use cases. How should the library know if you want to use the given query by config or overwrite every query information?
You still need the option to override the given query key "apikey".

For your problem it would be nice to have the option to "add" an additional query param, right?

[2017-02-06 10:19] florianpreusner commented on #93
This feature (default query params) are not supported anymore by Guzzle 6.x. But you can solve it by creating a middleware: https://github.com/guzzle/guzzle/issues/1138

[2017-02-06 13:44] #93 closed

[2017-02-13 02:00] joramhoefs opened #97 "Support Proxy Configuration"
The current implementation of the ConfigurationInterface doesn't support the proxy client configuration. So i would propose the following addition to the _options_ arrayNode:

[code]

[2017-02-16 19:53] heddn commented on #97
It actually seems to drop support for a lot of things. I feel like it should support all of http://docs.guzzlephp.org/en/latest/request-options.html.

[2017-02-16 19:57] heddn commented on #97
I'm wanting to add http://docs.guzzlephp.org/en/latest/request-options.html#allow-redirects.

[2017-03-13 17:42] orasik opened #99 "Request/Response are not being logged"
I am using the bundle with following config:

[code]

php version `PHP 7.0.16`
Guzzle bundle version: `"eightpoints/guzzle-bundle": "^5.3"`

I can not see any request/response in log files. Am I missing any configuration?

The context is I am using a wrapper service and call it from symfony Command. I also tried to call service from controller directly without wrapper and still can not see any log

[2017-03-21 14:41] TheLuckyOne commented on #99
same question

[2017-03-22 07:21] samvdb commented on #99
The logger is only used for the profiler. If you look in the code you will see the data collector grabbing all the logs. This means that monolog is not injected but a custom logger class which does not log to files.

[2017-03-26 22:06] thasmo commented on #79
Is this the current way to register middlewares?

[2017-04-28 12:04] stianmartinsen commented on #51
I would also love some documentation here. I want to use [guzzle-cache-middleware](https://github.com/Kevinrob/guzzle-cache-middleware), but I don't know how to add it using your bundle.

[2017-05-26 15:32] pasqualepalmaccio opened #101 "Params in header"
Hi, i want to set some params in header like api_key or a payload but i'm not able to do it. Is it possible to set in header node ( in config.yml) some params to request headers ?

[2017-05-29 09:31] Neirda24 commented on #101
@pasqualepalmaccio : I had the same issue. Here is my quick fix: https://packagist.org/packages/neirda24/8p-guzzle-token

[2017-05-29 09:33] Neirda24 opened #102 "Is it still maintained ?"
I would like to know if this repository is still actively maintained ?

[2017-05-31 18:40] florianpreusner commented on #102
Well, I have to admit that I couldn't find time the last couple of months. I'm still interested in maintaining this bundle and I hope to find some free time to work on some requests. Of course it would help if some people would support...

[2017-05-31 18:40] #102 closed

[2017-07-12 00:38] scott-r-lindsey opened #109 "Allow configuration of curl options"
There is already a pull request on these lines (#103), but the tests are not updated and I couldn't find an docs to explain why one would want this, so I'll explain my reasons.

Red Hat Enterprise Linux makes a lot of strange choices; one of them in 6.7 is to backport newer versions of TLS, but to not use them unless you force them.

https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise

[2017-07-18 10:36] iSDP opened #110 "Setting a path in the base_url doesn't stick."
*Problem*
If I set `base_url` with a path (e.g. `domain.tld/api/v1`) and then use the client to fetch the `/projects` endpoint, it tries to fetch it from `domain.tld/projects` instead of `domain.tld/api/v1/projects`

*Guzzle Info*
Using version `^5.3` of 8p/GuzzleBundle.

[2017-07-18 10:39] iSDP commented on #110
Closing, docs aren't really clear that a leading slash overwrites any path specified in the base url.

[2017-07-18 10:39] #110 closed

[2017-07-29 20:48] florianpreusner commented on #14
Underscore are allowed now, take a look at following PR: https://github.com/8p/GuzzleBundle/pull/111

[2017-07-30 17:56] florianpreusner commented on #101
Issue solved by https://github.com/8p/GuzzleBundle/pull/111

[2017-07-30 17:56] #101 closed

[2017-07-30 17:56] #96 closed

[2017-08-03 09:50] AlexeyKosov opened #112 "5.4 BC: `headers` config no longer works"
The deprecated `headers` config parameter stopped working at all in v5.4 even though it's mentioned in the docs that it will be supported until v6. Now it works only under the `options` section.

[2017-08-03 20:42] florianpreusner commented on #112
Hi @AlexeyKosov,

thanks for your info. You are right. It was my mistake to release such a change as a minor version. I removed 5.4 and added the changes to the new release "v6.0". I hope that solves that issue. It would be awesome if you can check that and if everything is back normal again to close that issue.

I apologize for the inconvenience.

[2017-08-03 21:39] AlexeyKosov commented on #112
If you have removed the 5.4 version at all, of course, it should solve the issue since everything was working fine in the 5.3
But `composer update` doesn't revert the version back to 5.3 so I can't check it, and moreover, I already got rid of the deprecated config options in my projects to avoid any issues.
Anyway, thanks for the quick fix.

[2017-08-03 21:39] #112 closed

[2017-08-04 14:17] trulave opened #113 "Console dump configuration error"
Hi!
When i execute next commands in console
[code]
i have this error
[code]

Versions info:
- PHP `7.1`
- Symfony `3.3.6-DEV`
- DependencyInjection Component  `3.3.0`
- Guzzle bundle `5.4.0`
- GuzzleHttp `6.3.0`

[2017-08-09 12:59] TheLevti opened #114 "Incorrect return value for promise reject in EventDispatchMiddleware"
I have noticed that whatever I set for the `http_errors` option for the guzzle client, I still would end up without an exception being thrown when the response has a status code `>= 400`. After going through the handler stack I saw that the `EventDispatchMiddleware` incorrectly returns from the "rejected" function of it's promise.

Returning just the response in the "reject" function will result i

[2017-08-11 12:10] bratok commented on #114
+

[2017-08-11 12:12] bratok commented on #114
+1

[2017-08-13 12:23] #114 closed

[2017-08-13 12:24] florianpreusner commented on #114
👍  Thanks for this report and the fix!

[2017-08-14 10:06] bouke-nederstigt opened #116 "Unable not resolve host results in FatalThrowableError"
When the client is unable to resolve the host for a request (cURL error 6) it seems guzzle does not return a ResponseInterface. This in turn causes guzzle bundle to throw the following fatal error.

Type error: Argument 1 passed to EightPoints\\Bundle\\GuzzleBundle\\Events\\PostTransactionEvent::__construct() must be an instance of Psr\\Http\\Message\\ResponseInterface, null given, called in /var/

[2017-08-14 11:42] BoShurik opened #117 "Handling exceptions in 6.0"
This code
[code]
no longer catch an 401 exception (may be other exceptions too)
The problem is in this [commit](https://github.com/8p/GuzzleBundle/commit/a8bc12640aa0c17bc0a69b4833151bf5c616c7ed) by @thomasjohansen

[2017-08-14 11:49] florianpreusner commented on #117
Thanks for your report. 5.4 was removed a couple of days ago. Are you sure that you are using this version? We have this "feature" in v6.0.
So maybe the title should be changed.

[2017-08-14 11:52] BoShurik commented on #117
Just update to 5.4 version
https://packagist.org/packages/eightpoints/guzzle-bundle

[2017-08-14 11:54] BoShurik commented on #117
In 6.0 the problem still exists

[2017-08-14 11:55] florianpreusner commented on #117
Mhhh, I removed this version from packagist, but when clicking update it will be reactivated, strange. Sorry for the trouble. I will take a look into this later today.

[2017-08-14 11:57] BoShurik commented on #117
@florianpreusner looks like you must remove it from releases

[2017-08-15 06:47] florianpreusner commented on #117
@BoShurik I can' reproduce your issue. "sendRequest" is a method provided by your own class, or? Inside you are using \GuzzleHttp\Client->request()?

When I'm getting a 401 I get the exception (GuzzleHttp\Exception\ClientException) and can catch it. That works with the modification by @thomasjohansen and also without. So I can't see a change in the behavior. Maybe you should adjust your class that

[2017-08-15 07:31] BoShurik commented on #117
Forgot to mention that I use `httplug` and [php-http/guzzle6-adapter](https://github.com/php-http/guzzle6-adapter/blob/master/src/Promise.php#L48)
`HttpException`  is `Http\Client\Exception\HttpException`

[2017-08-16 10:09] TheLevti commented on #117
Can it be that my latest PR #115 fixed this issue (see #114)? I had the same problem of not getting an exception.

[2017-08-16 10:26] BoShurik commented on #117
It works! Can you add tag?

[2017-08-17 07:43] TheLevti commented on #116
@bouke-nederstigt I noticed that when I fixed another bug. My latest PR #115 fixed this issue (see issue #114). Try to use the master branch. The `PostTransactionEvent::__construct()` there is supporting null values.

[2017-08-17 07:56] bouke-nederstigt commented on #116
That solves it. Thanks a lot!

[2017-08-17 07:56] #116 closed

[2017-08-17 11:34] florianpreusner commented on #117
Just released v6.0.1
https://github.com/8p/GuzzleBundle/releases/tag/v6.0.1

[2017-08-17 11:34] #117 closed

[2017-08-17 11:35] florianpreusner commented on #116
Just released v6.0.1
https://github.com/8p/GuzzleBundle/releases/tag/v6.0.1

[2017-09-13 12:43] #113 closed

[2017-09-29 13:38] ruudk opened #126 "Why dependency on `eightpoints/guzzle-wsse-middleware`"
Why does this bundle has a dependency on eightpoints/guzzle-wsse-middleware?

[2017-10-01 11:00] florianpreusner commented on #126
Well that dependency is very old and the reason why this bundle exists. Cause a couple of years ago I was looking for a nice solution to integrate WSSE. But you are right. This dependency should be optional. That's why following issue was created: https://github.com/8p/GuzzleBundle/issues/73

If you have a great idea how to integrate plugins nicely in a bundle let me know. I appreciate any recomme

[2017-10-01 11:00] #126 closed

[2017-10-03 15:25] compains opened #130 "Standar api call working with curl (console and php) but forbidden with Guzzle"
[code]

With this config when I use it I get 403 forbidden error.

If I make the same request from console or with plain php curl, it works perfectly. I have tried to move the x-api-header to the controller and it's still failing.

Quite confused.

[2017-10-03 15:30] compains commented on #130
My mistake! The base url contains part of the endpoint url and just after oppening this issue I realized that.

[2017-10-03 15:30] #130 closed

[2017-10-03 16:45] Ohssie commented on #58
Mind if I take this up??
Would love to be of help here

[2017-10-03 21:33] florianpreusner commented on #58
@Ohssie Sure, would be great! I appreciate any help!

[2017-10-19 18:51] gregurco commented on #90
@renanbr PR #129 resolves your problem. With new plugin system you will be able to create your small plugins and to inject logic into handler. That's small example how to do it:
[code]

[2017-10-19 18:55] gregurco commented on #79
@thasmo @tzfrs I think PR #129 will resolve this problem. I described there https://github.com/8p/GuzzleBundle/issues/90#issuecomment-338002511 how to register custom middleware.

[2017-10-20 06:48] tzfrs commented on #79
@gregurco Thanks for the update, but we couldn't wait that long and decided to create our own bundle. Thanks for your effort though!

[2017-10-20 07:29] florianpreusner commented on #79
@tzfrs Just to make sure to understand you correctly: Instead of contributing to an existing open source project you've created your own copy of this bundle? And in this bundle you "fixed" your mentioned issues? Sad story.

Not addressed by their maintainers? Code quality? Do you understand what open source is? You are very welcome to make things better - this is how open source works. But by copy

[2017-10-20 11:37] advancingu commented on #79
@florianpreusner Fragmentation is never nice, we are aware of that. That's why we linked xkcd in our readme file at the location you quoted.
This aside, I cannot follow your arguments regarding open source. Our contribution to make things better is that we released a complete Guzzle bundle rewrite that meets our needs and that was paid for by our company, as open source software and free of charge

[2017-10-20 14:13] #73 closed

[2017-10-20 14:13] #79 closed

[2017-10-20 14:14] #90 closed

[2017-10-21 08:53] gregurco commented on #109
@scott-r-lindsey @florianpreusner I created new PR. So, how to create client with specific ssl version:
[code]

Which options are allowed to use under `options.curl`? All options allowed in php and listed there: http://php.net/manual/en/function.curl-setopt.php .
How to use them? Just find proper php const, for example CURLOPT_FOLLOWLOCATION, remove _CURLOPT__ from the beginning and transform to l

[2017-10-21 21:34] florianpreusner commented on #109
Nice! I think it is very clear how to set these options. Big thumbs up from my side 👍 .
Looking forward to @scott-r-lindsey's opinion.

[2017-10-24 07:04] gregurco commented on #72
Could you please provide more details and I will try to implement it :) I see, that now if logging is false, then DevNullLogger will be created with service id **eight_points_guzzle.logger**. Do you want to not define this service at all in this case or what?

[2017-10-24 08:42] jesuGMZ opened #136 "Bundle path change"
Docs says the path to add the bundle should be `EightPoints\Bundle\GuzzleBundle\EightPointsGuzzleBundle()` but using version 6.1 that bundle does not exists under that location but `EightPoints\Bundle\GuzzleBundle\GuzzleBundle`.

Thanks for this bundle :+1:

[2017-10-24 08:53] gregurco commented on #136
@jesuGMZ you can see the correct path in correct readme:

- https://github.com/8p/EightPointsGuzzleBundle/blob/v6.1.0/README.md - version 6.1.0 and path is EightPoints\Bundle\GuzzleBundle\GuzzleBundle
- https://github.com/8p/EightPointsGuzzleBundle/blob/master/README.md - master and path is EightPoints\Bundle\GuzzleBundle\EightPointsGuzzleBundle
Notice that master !== 6.1.0 and the master will bec

[2017-10-24 11:01] jesuGMZ commented on #136
So far, by default composer will download the current stable 6.1.1 which does not match with the current doc in Packigst nor this repo what could be confused.

Close it if you consider it fine.

[2017-10-24 11:35] florianpreusner commented on #136
I can understand that this is confusing. The README.md file downloaded by composer should always contain the right information. I think this is given, like @gregurco already written. It is only confusing because everybody is taking a look at the project github url. And in this case it contains information that doesn't match v6.x cause we are preparing v7.x.

This will be solved automatically the d

[2017-10-24 11:35] #136 closed

[2017-10-24 12:31] pc-magas opened #137 "Symfony 3.3 error: Uncaught Symfony\Component\Debug\Exception\ClassNotFoundException: Attempted to load class "EightPointsGuzzleBundle" from namespace "EightPoints\Bundle\GuzzleBundle". when loading into AppKernel"
Over my project I have the following packages into `composer.json` (for some reasons I cannot put it in full):

[code]

And over the `AppKernel.php` I have put:

[code]

Resulting into this `AppKernel`

[code]

Furthermore on `config.yml` I have put:

[code]

But when I try either to run:

[code]

Or

[code]

I get the following error:

Did you forget a "use" statement for another namespace? in /h

[2017-10-24 12:39] florianpreusner commented on #137
You are using v6.1. I think you followed the README.md from master (default GitHub page). We are preparing release for v7 which contains some renaming changes. Please follow README.md that is part of the downloaded vendor lib. There you should see that you have to add following class: new EightPoints\Bundle\GuzzleBundle\GuzzleBundle()

https://github.com/8p/EightPointsGuzzleBundle/blob/v6.1.0/READ

[2017-10-24 12:39] #137 closed

[2017-10-24 12:45] pc-magas commented on #137
I think there should be a refrence on Readme.md that is located to master branch in order to help people that have similar prob.

[2017-10-24 12:48] florianpreusner commented on #137
Hey @pc-magas, thanks for your input. Can you provide more details? How would you solve this issue exactly? I think it's hard to solve cause it can always happen that someone is using an older version that master...

[2017-10-24 20:28] pc-magas commented on #137
Just put on master's Readme.md the following content:

So each one that looks on README.md will get pointed to the correct documentation/instructions.

[2017-10-24 20:45] gregurco commented on #51
@ppounder we introduces new plugin system and you can add new handlers through plugin. See examples here:
- https://github.com/8p/EightPointsGuzzleBundle/issues/90#issuecomment-338002511
- https://github.com/gregurco/GuzzleBundleWSSEPlugin
- https://github.com/gregurco/GuzzleBundleCachePlugin

@stianmartinsen I created new plugin: https://github.com/gregurco/GuzzleBundleCachePlugin - it implements

[2017-10-25 07:26] #51 closed

[2017-10-26 08:50] pc-magas opened #139 "Allowing optional version over base url"
During the Bundle usage I have the following url in order to use for my api http://example.com/v1/. But if I set the following config:

[code]

And then I use the following code:

[code]
Then when I try to call the `callApi` of the class above I get an exception with the following error message:

{"name":"MethodNotAllowed","message":"Wrong api Call"}

AThat means that the base_url ignores the `/v1

[2017-10-26 08:56] gregurco commented on #139
@pc-magas it's normal behaviour. Please read this article: http://docs.guzzlephp.org/en/5.3/clients.html#creating-a-client There are some examples and references to standards that should be respected.

[2017-10-26 11:43] #139 closed

[2017-10-26 14:29] gregurco commented on #97
Work in progress :slightly_smiling_face: I will try to add support as many options as possible.

[2017-10-31 10:49] ThomasTr opened #141 "Not implementing reset() from DataCollectorInterface is deprecated in Symfony 3.4"
I'm upgrading a Symfony app to 3.4 and I found this deprecation related to your HttpDataCollector:

User Deprecated: Implementing "Symfony\Component\HttpKernel\DataCollector\DataCollectorInterface" without the "reset()" method is deprecated since version 3.4 and will be unsupported in 4.0 for class "EightPoints\Bundle\GuzzleBundle\DataCollector\HttpDataCollector".

[2017-10-31 11:50] gregurco commented on #141
@ThomasTr thank you for reporting :+1: I created PR with fix: #142

[2017-10-31 21:07] #141 closed

[2017-10-31 21:17] florianpreusner commented on #72
Well, not that easy to remember. Unfortunately I didn't provide more info 🤦‍♂️ . I will take a deeper look into this issue the next couple days.

[2017-10-31 21:29] florianpreusner commented on #141
Released in v7.1.0 (https://github.com/8p/EightPointsGuzzleBundle/releases/tag/v7.1.0)

[2017-10-31 21:52] gregurco commented on #97
This issue was fixed in #107 and #140. I close the issue.

[2017-10-31 21:52] #97 closed

[2017-11-02 15:27] gregurco commented on #84
@florianpreusner I investigated this problem. So, we have 3 types of options:
- for client
- for request (conditional, by guzzle)
- for request (by user)
Finally they are merged. I wrote them in order of their priority. Ex: request options have higher priority than client's, evident. And rapplication/x-www-form-urlencoded;equest options provided by user have higher priority than request options fr

[2017-11-03 09:15] lcp0578 opened #144 "README.md Usage error"
It should be

 ` new EightPoints\Bundle\GuzzleBundle\GuzzleBundle()`

not
`new EightPoints\Bundle\GuzzleBundle\EightPointsGuzzleBundle()`

thanks

[2017-11-03 09:19] lcp0578 commented on #144
Configuration in config.yml:

`eight_points_guzzle:`  => `guzzle:`

[2017-11-03 09:20] gregurco commented on #144
@lcp0578 but why? We renamed bundle class name and configuration key in version 7.0. You can see in here: https://github.com/8p/EightPointsGuzzleBundle/blob/v7.0.0/README.md

[2017-11-03 09:28] #144 closed

[2017-11-03 09:49] lcp0578 commented on #144
oh,but i used `composer require eightpoints/guzzle-bundle` is it v4.5.3, but to a newcomer like me, it  is so confusing.
maybe, it make a note for different versions.

[2017-11-03 09:54] gregurco commented on #144
@lcp0578 so, if you install v4.5.3 then you have to read proper readme: https://github.com/8p/EightPointsGuzzleBundle/blob/v4.5.3/README.md

But my suggestion is to upgrade to latest stable version. There are new features, improvements, bug fixes and tests.

[2017-11-03 10:03] lcp0578 commented on #144
Thanks, i will upgrade it.

[2017-11-04 07:09] matteomoretti opened #145 "Changelog"
Hi,

first of all, thanks for this bundle!

I can't find a changelog: where is it? I would know what's changed from 6.* to 7.*, without digging the entire codebase.

Thanks a lot

[2017-11-04 08:39] gregurco commented on #145
@matteomoretti hello. Probably here you can find changelog: https://github.com/8p/EightPointsGuzzleBundle/releases
Is it what you want?

[2017-11-04 08:47] matteomoretti commented on #145
@gregurco yes, thanks a lot! :)

[2017-11-04 08:47] #145 closed

[2017-11-06 21:41] florianpreusner commented on #84
Thanks for investigation, @gregurco! I'm with you. By adding the possibility to override the header because of setting options in config we would change the normal behavior provided by guzzle. As you said, this could create issues in the future. A bundle should not change behavior, workflows or any other core functionality of a library! Going to close this issue.

[2017-11-06 21:41] #84 closed

[2017-11-06 22:02] gregurco commented on #58
@mathielen @Ohssie https://github.com/gregurco/GuzzleBundleOAuth2Plugin - I created plugin which integrates oauth2 middleware. So, you are welcome to use it :slightly_smiling_face:

[2017-11-11 17:22] gregurco commented on #72
I read this issue one more time and probably I understood what did you mead :smile: In 1-2 days I will do PR and you will review the result.

[2017-11-11 18:19] florianpreusner commented on #72
I'm curious 😄

[2017-11-13 16:30] Neirda24 commented on #74
Also it would be nice to have some `time` results in the profiler. Maybe using http://guzzle.readthedocs.io/en/latest/request-options.html#on-stats ?

[2017-11-13 18:55] gregurco commented on #74
@Neirda24 yep, it's really good idea. But I'm not sure if we can use this option. This option is allowed only for requests, not for clients and probably we need to collect execution time in another way. I'm trying to find the solution :slightly_smiling_face:

[2017-11-13 19:22] florianpreusner commented on #72
Yeah, that seems to be the solution for the problem I have mentioned :) Nice!

[2017-11-13 19:22] #72 closed

[2017-11-14 08:35] Neirda24 commented on #74
@gregurco : agreed. Another way would be to add a middleware at the beginning and another at the end. each of the same instance recording the start time and the end time per requests.

[2017-11-14 08:43] gregurco commented on #74
@Neirda24 in this case you will not know the exact time. It will be very approximate. Here you can see how guzzle calculates time for on_stats callback:
- curl - https://github.com/guzzle/guzzle/blob/master/src/Handler/CurlFactory.php#L123
- stream - https://github.com/guzzle/guzzle/blob/master/src/Handler/StreamHandler.php#L85

For different handlers there are different methods. Yep, probably it

[2017-11-14 08:46] Neirda24 commented on #74
@gregurco : I see... Why can't we use the `on_stats` method ? We can add it as default option on the client. (I didn't made any research on this subject as of now...)

[2017-11-14 08:49] DonCallisto opened #149 "Migrating from 6.x to 7.x. Where is UPDATE.md?"
Hello guys.
I would like to keep my dependencies as updated as possible but with your bundle I cannot be sure that the update would not break all the things.
Could you please include an `UPDATE.md` file to guide everyone in this operation?

Thank you in advance.

[2017-11-14 08:56] gregurco commented on #74
@Neirda24 the main problem is that default client option can be easy rewritten by request option and you will not be able to calculate time correctly :slightly_frowning_face:

[2017-11-14 08:57] Neirda24 commented on #74
@gregurco : Fair enough. keep me posted if you have any ideas. I'll be glad to help.

[2017-11-14 08:59] DonCallisto commented on #149
Looking at [7.0 release](https://github.com/8p/EightPointsGuzzleBundle/releases/tag/v7.0.0) it seems that only configuration files are involved in this process. Can you confirm?

[2017-11-14 09:03] gregurco commented on #149
@DonCallisto
1) if you used wsse middleware then you should install and activate https://github.com/gregurco/GuzzleBundleWssePlugin
2) if you used "headers" config outside of "options" config then you should move them

[2017-11-14 09:17] DonCallisto commented on #149
@gregurco I think also configuration file keys (e.g.: `guzzle` is now `eight_points_guzzle`) and namespaces should be changed.

[2017-11-14 09:36] gregurco commented on #149
@DonCallisto yep, you are right

[2017-11-14 09:51] DonCallisto commented on #149
So, apart from wsse plugin:

- Register the bundle under new name
- change config keys from `guzzle` to `eight_points_guzzle`
- move `headers` key under `options` config

No other actions needed: your switch from `PSR-0` to `PSR-4` keeping same namespace prefix and mapping `PSR-4` to `src` base directory (with all file moved under `src`) has granted a sort of "backward compatibility" in class load

[2017-11-15 12:58] florianpreusner opened #150 "Helping Prepare for Symfony 4 Bundle Support"
If you want to make a bundle compatible with Symfony 4, here are the basic steps:

http://symfony.com/blog/helping-prepare-for-symfony-4-bundle-support?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+symfony%2Fblog+%28Symfony+Blog%29

[2017-11-16 08:58] #150 closed

[2017-11-16 21:51] gregurco commented on #149
@DonCallisto please take a look at https://github.com/gregurco/EightPointsGuzzleBundle/blob/9c20a31760ecf137ecc667203cfc5bf4d8c72a3e/UPGRADE.md Do you have something to add?

[2017-11-16 22:13] DonCallisto commented on #149
@gregurco yes, if you have created any services, you should change name aswell like

before

`<argument type="service" id="guzzle.client.xyz" />`

after

`<argument type="service" id="eight_points_guzzle.client.xyz" />`

[2017-11-16 22:25] gregurco commented on #149
@DonCallisto thanks you, I added: https://github.com/gregurco/EightPointsGuzzleBundle/blob/51e45461e40635db3ff525a39ec2ec7422bb07b3/UPGRADE.md

Other remarks?

[2017-11-16 22:26] DonCallisto commented on #149
I think that's all!

[2017-11-16 22:28] gregurco commented on #149
@DonCallisto thanks you. I think tomorrow it will be merged.

[2017-11-16 22:28] DonCallisto commented on #149
Thanks!
It will be very useful!

[2017-11-17 09:05] #149 closed

[2017-11-17 09:20] florianpreusner commented on #149
Released in v7.2.0 (https://github.com/8p/EightPointsGuzzleBundle/releases/tag/v7.2.0)

[2017-11-17 09:20] florianpreusner commented on #150
Released in v7.2.0 (https://github.com/8p/EightPointsGuzzleBundle/releases/tag/v7.2.0)

[2017-11-19 12:26] DonCallisto commented on #149
Thank you guys

[2017-11-22 15:25] OJezu opened #158 "Unrecognized option error when installing with Flex"
I've tried adding this bundle using Symfony Flex to a new project,  but I got a following error instead:

[code]

I'm using Symfony 3.4-RC1 (list of installed packages below).

[code]

[2017-11-22 15:28] gregurco commented on #158
@OJezu thank you for using flex with GuzzleBundle and reporting this problem. I created PR with fix of this problem yesterday: https://github.com/symfony/recipes-contrib/pull/150
Waiting for merging it. Watch out for changes in PR.

[2017-11-22 15:28] #158 closed

[2017-11-22 15:46] OJezu commented on #158
Oh, I guess I should have looked in the recipes repo too.

Workaround is to fix the config file after failed installation, and re-issuing `composer req`. It does not overwrite config file when present. No need to give up flex to install the bundle.

[2017-12-02 23:05] gregurco commented on #99
@orasik @TheLuckyOne implemented in PR #163 :slightly_smiling_face:

[2017-12-02 23:05] #99 closed

[2017-12-04 13:18] ch1986 opened #165 "Error: You have requested a non-existent service"
Hi,
when I try to use the guzzle client from a command I get an error associated with the name. For example,

CODE
`$client = $this->getContainer()->get('eight_points_guzzle.client.production_trading_api');`

ERROR
You have requested a non-existent service
"eight_points_guzzle.middleware.request_time.production_trading_api". Did you mean one of these: "eight_points_guzzle.client.production_trading

[2017-12-04 13:19] gregurco commented on #165
@ch1986 could you provide your configuration of clients, please?

[2017-12-04 13:29] ch1986 commented on #165
Hi,
sure.

#config.yml
`eight_points_guzzle:
    logging: true
    clients:
        production_trading_api:
            base_url: "%ebay_production_trading_api_url%"
        sandbox_trading_api:
            base_url: "%ebay_sandbox_trading_api_url%"
        production_policies_api:
            base_url: "%ebay_production_policies_api_url%"
        sandbox_policies_api:
            base_url: "%ebay

[2017-12-04 13:46] gregurco commented on #165
@ch1986 I tested and it seems to be ok. I checked it from controller and from console command too and in dev and prod environments. Could you please try to clear cache for all environments and write here the result?

[2017-12-04 13:49] gregurco commented on #20
@foaly-nr1 @mlebkowski @sebastianblum @asprega fixed in PR #164

[2017-12-04 13:49] #20 closed

[2017-12-04 14:22] p5vgregurco commented on #165
@ch1986 I see there are all middlewares defined except request_time middleware. Probably you updated guzzle bundle and didn't clear cache.

[2017-12-04 14:23] gregurco commented on #165
@ch1986 I see there are all middlewares defined except request_time middleware. Probably you updated guzzle bundle and didn't clear cache.

[2017-12-04 14:54] ch1986 commented on #165
Hi,
I have cleared cache and problem persists. I don't understand why error says "eight_points_guzzle.middleware.request_time.production_trading_api" when the client is named "eight_points_guzzle.client.production_trading_api".
Thanks

[2017-12-04 15:04] gregurco commented on #165
@ch1986 each client has related services. In your case client is dependent on `request_time` middleware that is defined internally and used internally too. Somehow this service was not defined. Please try next steps:

1. open file `vendor/eightpoints/guzzle-bundle/src/DependencyInjection/EightPointsGuzzleExtension.php`
2. fine there `$requestTimeMiddlewareDefinition->setPublic(false);` and replace

[2017-12-05 12:14] ch1986 commented on #165
Hi,
I follow the steps and the result is

[LogicException]
Unable to register extension "Twig_Extension_Debug" as it is already registered.

Thanks

[2017-12-05 12:54] gregurco commented on #165
@ch1986 I did an PR #166 with fix. Please run `composer update eightpoints/guzzle-bundle` to get latest version, clear cache and try one again. Thanks for your patience and help.

[2017-12-05 13:14] ch1986 commented on #165
Hi,
it works.
Thank you so much

[2017-12-05 13:16] gregurco commented on #165
Fine. I'm glad to see that it's ok now :slightly_smiling_face: thank you for reporting the problem and patience!

[2017-12-05 13:16] #165 closed

[2017-12-05 14:03] gregurco commented on #165
@ch1986 could you write please which version of symfony do you use?

[2017-12-06 17:02] ch1986 commented on #165
Hi,
Symfony version 3.1.10
PHP version 7.1
Best regards

[2017-12-11 09:31] gregurco opened #169 "[PENDING] Implement PSR-15"
For now, PSR-15 is draft, but when it will be released, all middlewares should be compatible and implement MiddlewareInterface.

Link to draft: https://github.com/php-fig/fig-standards/blob/hotfix/psr-15-interface-syntax/proposed/http-handlers/request-handlers.md
Link to official site: http://www.php-fig.org/psr/
Related issue in guzzle: https://github.com/guzzle/guzzle/issues/1702

[2017-12-12 11:18] florianpreusner commented on #141
Released also in v6.1.2 (https://github.com/8p/EightPointsGuzzleBundle/releases/tag/v6.1.2)

[2017-12-12 14:15] ThomasTr commented on #141
Thank you @gregurco @florianpreusner

[2017-12-13 12:20] sparrowek opened #171 "Profiler shows only the first call"
| Q                | A
| ---------------- | -----
| Symfony version  | 3.4.1
| Bundle version   | 7.2.1

Only the first call is shown with request and response textareas.
For successive calls only its url is presented. The url seems to be clickable but clicking does nothing.

[2017-12-13 12:38] gregurco commented on #171
@sparrowek please try to execute `bin/console assets:install`

[2017-12-13 12:41] sparrowek commented on #171
Thanks, it worked.
I just wonder why this step was not fired when I have required the module in composer?

[2017-12-13 12:43] gregurco commented on #171
Probably it's something related to last changes in symfony 3.4. I will investigate this problem later. Thank you for reporting :+1:

[2017-12-13 12:43] #171 closed

[2017-12-13 13:26] gregurco opened #172 "Improve assets for compatibility with symfony 3.4/4.0"
Assets are not installed automatically in symfony 3.4/4.0.

 - [x] add `symfony/framework-bundle` in requirements (there is defined `assets:install` command and `symfony/asset` package in dependencies)
 - [ ] add `assets:install` command in recipe (source: https://github.com/symfony/recipes#composer-scripts-configurator)

[2018-01-04 11:10] gregurco opened #175 "Guide "How to create plugin""
Write a guide how to create plugins:
 - [ ] small (single-class-plugin)
 - [ ] big (how to create full plugin in separate repository)

[2018-01-04 11:29] gregurco opened #176 "[Plugin] Retry functionality"
Create plugin with retry functionality.
Middleware repository: https://packagist.org/packages/caseyamcl/guzzle_retry_middleware

[2018-01-04 11:30] gregurco opened #177 "Guide "How to mock clients in tests""
Write a guide how to mock clients in functional tests.

[2018-01-04 22:33] gregurco opened #178 "[PSR] rename EightPointsGuzzleBundlePlugin"
Rename EightPointsGuzzleBundlePlugin to EightPointsGuzzleBundlePlugin**Interface**. This should be done in v8, not to break BC.

[2018-01-04 22:39] gregurco opened #179 "[GIT] Create .gitattributes file"
Create **.gitattributes** file with **export-ignore** key. Some files are extra when user download archive. This topic should be investigated and implemented.

Docs: https://git-scm.com/docs/gitattributes#_creating_an_archive
Example: https://github.com/Roave/SecurityAdvisories/blob/master/.gitattributes

[2018-01-14 22:28] gregurco opened #181 "Write in documentation how to redefine client class"
Add in documentation example with functionality implemented in next PR: #123

[2018-01-15 10:06] florianpreusner commented on #172
Part 1 released in v7.3.0 (https://github.com/8p/EightPointsGuzzleBundle/releases/tag/7.3.0)

[2018-01-15 10:06] florianpreusner commented on #20
Released in v7.3.0 (https://github.com/8p/EightPointsGuzzleBundle/releases/tag/7.3.0)

[2018-01-15 10:06] florianpreusner commented on #165
Released in v7.3.0 (https://github.com/8p/EightPointsGuzzleBundle/releases/tag/7.3.0)

[2018-01-15 13:17] ericlery opened #182 "How to activate/connect plugins with the new symfony 3.4/4.0 bundles system?"
| Q                | A
| ---------------- | -----
| Symfony version  | 3.4.0
| Bundle version   | 7.3.0

[2018-01-15 13:25] gregurco commented on #182
@ericlery for 3.4 it's the same flow, because there still exists AppKernel class with bundles listed, but with 4.0 we should find solution. Thanks for reporting.

[2018-01-15 14:09] ericlery commented on #182
@gregurco in fact you can use the 4.0 way with 3.4 as 3.4 is 4.0 with deprecations. So it affect 3.4 and 4.0

[2018-01-15 16:31] Neirda24 commented on #177
@gregurco : Here is how I did it: https://gist.github.com/Neirda24/d662dda169518dc75a5beb924c4182c2 tell me what you think

[2018-01-19 16:07] andheiberg commented on #74
Could you elaborate on this?

I'm not sure I understand why this wouldn't be trivial to implement?

[2018-01-19 16:09] gregurco commented on #74
@andheiberg calculation of all requests time was done in PR #156

[2018-01-29 14:38] andheiberg commented on #74
See https://github.com/ludofleury/GuzzleBundle for the split between connection and response timing.

See https://github.com/e-moe/guzzle6-bundle specifically ![](https://github.com/e-moe/guzzle6-bundle/blob/master/src/Resources/doc/img/timeline.png) for how they have accurate time lines in the symfony profiler.

I don't believe either is currently functional in this package.

[2018-01-29 14:53] gregurco commented on #74
@andheiberg no, for now we just calculate total time for each request and time for all requests. In future releases probably we will add more information related to request time.

[2018-03-10 20:45] #179 closed

[2018-03-15 07:36] dariotilgner opened #188 "Profiler first Responsetextarea is empty"
| Q                | A
| ---------------- | -----
| Symfony version  | 4.0.6
| Bundle version   | 7.3.0
| php version | 7.2.2

I just have installed your Bundle. On any site which fires a guzzle request the first (also if it is the only) response in the textarea isn't shown.
![eightpointsguzzlebundleerror](https://user-images.githubusercontent.com/1674931/37449743-c83436c6-282b-11e8-9220-0eb00cf9a

[2018-03-15 07:59] gregurco commented on #188
@dariotilgner hello! Thank you for reporting an issue. Today I will try to check.

[2018-03-15 08:02] dariotilgner commented on #188
@gregurco I just got the information from annother project in my company that this problem also occures sometimes**(!)** in symfony version 3.3.0

[2018-03-22 05:44] dariotilgner commented on #188
@gregurco The fix works fine! :)

[2018-03-22 07:28] gregurco commented on #188
@dariotilgner thank you for testing :) gonna merge it in few days. Track #189

[2018-03-22 13:18] vladislavs1321 opened #190 "token storage"
| Q                | A
| ---------------- | -----
| Symfony version  | 3.4| 4+
| Bundle version   | 1.0.3

is it possible to have default toke storage/cache to prevent each api call producing new token?

[2018-03-22 15:35] gregurco commented on #190
@vladislavs1321 is this issue related to https://github.com/gregurco/GuzzleBundleOAuth2Plugin ?

[2018-03-22 18:54] vladislavs1321 commented on #190
oh, sorry.

[2018-03-22 18:54] #190 closed

[2018-03-22 22:07] gregurco opened #191 "How to use autowire and clients"
`autowire` - it's a big feature of SF4. We need a guide how to use autowire in context of guzzle bundle and clients.

[2018-03-22 22:30] gregurco opened #192 "[Profiler] Integrate stopwatch component"
Stopwatch - a component created by Symfony.
Integration and usage of this component will provide possibility to see requests on timeline on Performance tab in Profiler. It will be very clear and comfortable to see requests time there.

[2018-03-25 21:08] gregurco commented on #188
@dariotilgner close this issue. PR #189 was merged. Thanks you once again :+1:

[2018-03-25 21:08] #188 closed

[2018-03-26 11:10] gregurco opened #193 "Add option to create lazy clients"
For now we create service per each client and all these clients are not lazy.
This functionality appeared in Symfony 2.3: http://symfony.com/doc/master/service_container/lazy_services.html

So, I propose to add option to define client (and the service as a result) lazy.

[code]
In this case client service will be instantiated as ProxyClass and Client class will be instantiated when it will be call

[2018-04-11 06:55] vladislavs1321 opened #194 "Middleware"
| Q                | A
| ---------------- | -----
| Symfony version  | 3.4
| Bundle version   | 7.3.0

@gregurco
Hello , Is it possible to register custom Middleware per client with configuration?

[2018-04-12 16:27] gregurco commented on #194
Do you know about events https://github.com/8p/EightPointsGuzzleBundle#events ? You can define pre-request / post-request. Is it  what you need or do you need exactly middleware?

[2018-04-21 00:25] rtfjr86 opened #195 "How to use Guzzle mock handlers with EightPointsGuzzleBundle"
I'm using Behat for testing. My application uses Guzzle to consume other services. When testing, I'm replacing the client in the container with my client that has a mock handler. It works fine until my test makes a second request, then it seems my client is replaced with the original. Is there a way to ensure that a mocked response is always returned when testing? Thanks.

**FeatureContext.php**
`

[2018-04-21 16:06] gregurco commented on #195
Hello @rtfjr86 . Do you expect different responses for the same client in tests or there is always the same response? If the same then there is easy solution.

[2018-04-21 16:08] gregurco commented on #195
@rtfjr86 did you see this repository https://github.com/FriendsOfBehat/ServiceContainerExtension ? Does it help you?

[2018-04-23 18:03] rtfjr86 commented on #195
@gregurco Thank for the quick response. I know that the guzzle mock handler can be have multiple responses in a queue. I expect that each of those responses have a different body. I'd like to do something like:

`    Given the products service returns the following:
      | code | body

[2018-05-01 17:28] questionablequestion opened #196 "How to include plugin?"
Hello,

After I install plugin with composer require, it's in composer.json but nowhere is included. If I add it in bundles.php manually, it doesn't do anything. I'm trying specifically to add cache plugin.

"symfony/framework-bundle": "^4.0",
"eightpoints/guzzle-bundle": "^7.3"

Thanks.

[2018-05-01 17:58] gregurco commented on #196
hello @questionablequestion! Please read this comment https://github.com/8p/EightPointsGuzzleBundle/pull/183#issuecomment-376462603 there is written how to use plugins in sf4.

[2018-05-01 18:15] questionablequestion commented on #196
Thank you. It doesn't throw error now but it seems cache plugin doesn't work, I added in config file under plugins cache with enabled to true. But maybe that's issue I should add in cache bundle repo.

Thanks again

[2018-05-01 19:44] gregurco commented on #196
@questionablequestion if you added it in config and it doesn't throw any errors then it's activated. You also should check how plugin works, headers from the response and the `strategy` that is selected.

[2018-05-02 09:58] questionablequestion commented on #196
Thank you for help. I can't seem to find any example of using cache plugin and I can't figure out myself looking at the cache plugin documentation. Basic configuration should work as well, right? But in this case it doesn't? If you can provide me example of how cache plugin is used I would be reeeealy thankful!

[2018-05-02 10:13] gregurco commented on #196
@questionablequestion cache plugin with default plugin will cache responses only in case if response has `Cache-Control` header. Also you can setup `greedy` cache strategy. So, read documentation here: https://github.com/gregurco/GuzzleBundleCachePlugin and here: https://github.com/Kevinrob/guzzle-cache-middleware

[2018-05-03 20:26] gregurco commented on #182
Fixed in #197
Thank you for reporting the problem :+1:

[2018-05-03 20:26] #182 closed

[2018-05-03 20:36] questionablequestion commented on #196
I tried every listed example on GuzzleBundleCachePlugin documentation, not one worked, every one of them throws some kind of error, tried fixing them but got nowhere. Isn't GuzzleBundleCachePlugin taking care of adding middleware in to the client? So not sure what to get out from guzzle-cache-middleware documentation.. Is there some actual working example (and that is not basic configuration where

[2018-05-04 12:29] gregurco commented on #181
Resolved in #198

[2018-05-04 12:29] #181 closed

[2018-05-07 09:57] gregurco commented on #196
@questionablequestion could you provide messages from `some kind of error`? I can help you, but I need more info. Usually there should not be errors and probably it's the cause of problem.

[2018-05-08 02:34] lcp0578 commented on #195
@rffjr86 @gregurco
how can define a handle for a client?
like this? thanks
[code]

[2018-05-08 08:07] gregurco commented on #195
@lcp0578 just create listener and listen `eight_points_guzzle.post_transaction` event. See: https://github.com/8p/EightPointsGuzzleBundle#listening-to-events

[2018-05-08 08:09] lcp0578 commented on #195
@gregurco thanks

[2018-05-08 22:40] lcp0578 commented on #195
@gregurco
[code]

services.yml

[code]

`eight_points_guzzle.clients.api_department` is a client service id.
but i don't know,how get `eight_points_guzzle.clients.api_department` reuqest info, I want log it.

Can you give me more hints about how to  implement `RequestListener`?
thx

[2018-05-09 10:36] gregurco commented on #195
@lcp0578 try next way:
[code]

[2018-05-09 10:51] gregurco commented on #194
@vladislavs1321 did it resolve your problem or do you need another functionality?

[2018-05-09 11:04] lcp0578 commented on #195
@gregurco thank you very munch！

[2018-05-09 11:56] vladislavs1321 commented on #194
@gregurco  for this moment i've handled everything with events, thanks. Solved.

[2018-05-09 11:56] #194 closed

[2018-05-30 12:30] tiagofranco86 opened #199 "Erro UnexpectedValueException in Profiler"
Hello, I'm working with a project for development with synfony 3.4 in php 5.6. Because of the PHP version, I had to install version 6.2. Services configured and working properly, but errors are occurring in profiler rendering with "The profiler template" GuzzleBundle :: debug.html.twig "for data collector" guzzle "does not exist."
I noticed that the synfony 3.0 syntax change is due to how template

[2018-05-30 12:32] gregurco commented on #199
@tiagofranco86 hello! Thank you for reporting. I will investigate this issue today later and I guess there is solution :slightly_smiling_face:

[2018-05-30 12:49] tiagofranco86 commented on #199
Ops correcting
I noticed that the synfony 3.0 syntax change is due to how templates are extended / included.

{% extends "WebProfilerBundle:Profiler:layout.html.twig" %}
however, since Symfony 3.4 we should use:
{% extends "@WebProfiler/Profiler/layout.html.twig" %}

[2018-06-05 07:44] gregurco commented on #199
@tiagofranco86 are you sure you are using Symfony 3.4 with PHP 5.6? I see that SF 3.4 is requiring PHP 7: https://github.com/symfony/website-skeleton/blob/v3.4.0/composer.json#L7

[2018-06-06 20:18] gregurco commented on #199
Fixed in PR #200 and released in https://github.com/8p/EightPointsGuzzleBundle/releases/tag/v6.2.1

[2018-06-06 20:18] #199 closed

[2018-06-07 09:52] gregoirepaqueron opened #201 "Profiler PATCH method invisible"
| Symfony version  | 3.4.11
| Bundle version   | 7.3.0

Hello,

When guzzle does request, and the response have code 204, the display on the profiler has no background color + code written in blank color.

[2018-06-07 11:31] gregurco commented on #201
@gregoirepaqueron thanks for reporting, I will try to test it ASAP :+1:

[2018-06-08 08:02] gregurco commented on #201
@gregoirepaqueron I tested with same version of symfony and bundle and it seems to be ok. Could you please check my screenshot and provide yours if it's not the same?

![selection_001](https://user-images.githubusercontent.com/4052904/41146225-5775a3a2-6b0b-11e8-8d31-3a3c50eb4b19.png)

[2018-06-08 08:43] gregurco opened #202 "[Profiler] Timing information for each request"
![image](https://user-images.githubusercontent.com/4052904/41148232-22e2bdea-6b11-11e8-9cf1-af97f397dbe2.png)

[2018-06-08 09:14] gregoirepaqueron commented on #201
@gregurco Here's my screenshot :
![screencapture-basemandat-local-8080-_profiler-802365-2018-06-08-11_05_27](https://user-images.githubusercontent.com/2579201/41149782-bdb1bd26-6b0c-11e8-9799-9d608c97287a.png)

As you can see, i have 3 calls code 204. with no background color + "No content (204) written in blank color, i have to highligh it to be seen.
Then i have 1 call with 500, and 1 call with

[2018-06-08 09:16] gregoirepaqueron commented on #201
Oh, i think the problem is the PATCH method, not the code 204 :)

[2018-06-08 10:37] gregurco commented on #201
@gregoirepaqueron yep, got it :) I think today/tomorrow I will fix it. Thanks :slightly_smiling_face:

[2018-06-08 12:27] gregoirepaqueron commented on #201
Thanks :)

[2018-06-10 11:10] gregurco commented on #201
@gregoirepaqueron fixed in #203 . Thanks for reporting :slightly_smiling_face:

[2018-06-10 11:10] #201 closed

[2018-06-11 07:47] gregoirepaqueron commented on #201
:+1:

[2018-06-18 10:00] suiXz opened #204 "Client error: `400 Bad Request` response ???"
| Q                | A
| ---------------- | -----
| Symfony version  | 3.4.11
| Bundle version   | 7.3.1

Hi guys, first time for me here !

I've used the bundle like this :

[code]

Injected my client into a service class :

[code]

And used him like that :

[code]

And i get this exception :

[code]

[2018-06-18 11:35] gregurco commented on #204
Hello @suiXz . If I remember correctly, it's normal behavior for guzzle. If you don't want to receive exception in case of non 2xx response then setup `http_errors` option to true:
[code]

Read more about it here: http://docs.guzzlephp.org/en/latest/request-options.html#http-errors

And please write if it's the fix of your problem :slightly_smiling_face:

[2018-06-18 12:53] suiXz commented on #204
Yeah it works thanks !

[2018-06-18 12:53] #204 closed

[2018-06-18 13:02] gregurco commented on #204
@suiXz you're welcome :slightly_smiling_face:

[2018-07-13 06:20] gregurco commented on #191
Implemented: https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/doc/autowiring-clients.md

[2018-07-13 06:20] #191 closed

[2018-07-13 15:47] jeremeamia commented on #169
[PSR-15](https://www.php-fig.org/psr/psr-15/) was created for _server_ middleware, not client middleware. If you look at the `MiddlewareInterface`, the contract is designed for the `ServerRequestInterface`, so I don't think PSR-15 would apply to Guzzle clients.

[2018-07-13 16:42] gregurco commented on #169
@jeremeamia thank you for information :+1:

[2018-07-13 16:42] #169 closed

[2018-07-24 13:41] tiagofranco86 commented on #199
Hello @gregurco
Sorry for the delay of the feedback, issue solved. Thank you!

[2018-08-06 10:33] KnechtRootRecht232 opened #209 "Symfony 4 config client base_url from .env"
How to set the base url in client-config with .env?

[code]
this throws:
`Invalid configuration for path "eight_points_guzzle.clients.sc_inspirations.base_url": base_url can be: string`

same when adding to `parameters` in services.yaml as config-var:
[code]
and
[code]

| Q                | A
| ---------------- | -----
| Symfony version  | 4.1.3
| Bundle version   | 7.3

[2018-08-06 10:45] KnechtRootRecht232 commented on #209
solved it by my self:
[code]

[2018-08-06 10:45] #209 closed

[2018-08-08 14:41] gregurco commented on #202
Implemented in #208

[2018-08-08 14:41] #202 closed

[2018-08-08 14:58] gregurco opened #210 "[Profiler] General Improvements"
Todo:
- [x] Collapsible **Request** and **Response** section _(sometimes there are a lot of data in request/response section and user might want to collapse it)_
=> https://github.com/8p/EightPointsGuzzleBundle/issues/222
- [x] Total requests time on the profiler page _(not only in bottom bar)_. It can be useful in the API projects, because there bottom bar is not used.
=> https://github.com/8p/Ei

[2018-08-09 21:12] florianpreusner commented on #74
Some improvements are already implemented. Visualization of timings of each request were implemented in https://github.com/8p/EightPointsGuzzleBundle/pull/208 👏

To keep this topic (improvements for profiler) a little bit cleaner we created a new issue (https://github.com/8p/EightPointsGuzzleBundle/issues/210) and will close this one.

[2018-08-09 21:12] #74 closed

[2018-08-09 21:15] florianpreusner commented on #210
We should split each topic into separate issues later, before starting. Should only be a list of upcoming improvements in general. What you think @gregurco?

[2018-08-09 21:19] gregurco commented on #210
@florianpreusner yep, agree with you :+1:

[2018-09-25 12:35] rrajkomar commented on #195
Hello,
I'd like to readresse the initial question of this issue : how can I use the Mock Handler in my EightPointsGuzzleBundle Client class.
I have a custom client class (defined as explained in https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/doc/redefine-client-class.md)
but I have a special requirement.
I need for my tests to be able to set the MockHandler as the handler

[2018-09-25 19:45] rrajkomar commented on #195
As far as I could see, there seems to be three possible ways :

- no code change to the bundle but requires to use a reference get of the config to change the handler for the stack at test start. (not really DRY)

- easiest but least flexible would be to check the kernel.environment variable in the extension class to automatically choose MockHandler upon HandlerStack definition (createHandlerStack

[2018-09-29 20:48] gregurco commented on #195
@rrajkomar sorry for the delay. Could you please explain why not to mock the whole client and just the HandlerStack? I guess it's better and then you get the full access on call of methods and so on.

[2018-09-29 20:50] gregurco commented on #177
I plan to write it as soon as will finish with guide for plugins. It takes some time.

[2018-09-29 20:59] rrajkomar commented on #195
I could mock the clients... if I knew how to do it :-)
The question from a use case where I'm writing a webservice client api in a symfony bundle and I need to mock api calls to the webservice.
I need to either be able to replace the client with a mock in test environment or to be able to tell the actual clients to use a guzzle mock handler.

[2018-09-30 11:49] gregurco commented on #195
If you're using SF 4 then just create config file `config/services_test.yaml`. This file will be automatically loaded by symfony only in test env. In this file you will have possibility to redefine any services. After that you can create "mock class" in `tests/Mocks` folder and redefine client in `config/services_test.yaml`:
[code]

Also you have another possibility to replace service in container

[2018-10-01 14:55] gregurco commented on #195
@rrajkomar got it and it makes sense. If you will give me example of your "mock of handler stack" then I can help you with adjustments on bundle's side.

[2018-10-02 07:19] rrajkomar commented on #195
I'll create a fork of the project and make the changes there then link it back here so you can see what I had in mind.

[2018-10-03 19:45] #193 closed

[2018-10-05 08:40] florianpreusner opened #218 "[Symfony Flex] Add more useful params in recipe"
Right now only [3 params are given as example in Symfony Flex recipe](https://github.com/symfony/recipes-contrib/blob/master/eightpoints/guzzle-bundle/7.0/config/packages/eight_points_guzzle.yaml). There are more useful params that should be provided.

Full list: https://github.com/gregurco/EightPointsGuzzleBundle/blob/configuration_reference/src/Resources/doc/configuration-reference.md

Suggestio

[2018-10-05 21:52] gregurco opened #220 "[Guide] How to use environment variables with bundle"
Would be nice to have article with example how to use environment variables to configure bundle.
For example, base url can be configured from **.env** file.

[2018-10-07 18:03] #192 closed

[2018-10-08 07:36] rrajkomar commented on #195
@gregurco : I've been working on the issue again during the week end.
I'm close to something that works (with Tests and all) but I hit a wall because of the HandlerStack Definition in the Extension class.

It seems the Definition is created only once and not one per client with is problematic because if you have multiple clients, you cannot define a specific handler for only one client.

Any ideas

[2018-10-08 07:40] gregurco commented on #195
@rrajkomar yep, you are right. I think there is no restriction to change the definition of handler and you can change that one client will have one separate handler. What do you think?

[2018-10-08 07:42] rrajkomar commented on #195
Mmm Not sure I understood your reply... :confused:

[2018-10-08 07:46] gregurco commented on #195
For now all clients have one handler and it creates problems if we want to redefine/mock just one handler for specific client. And I guess in this case we have only one solution: to create separate handler for each client. Write me if it's clear now.

[2018-10-08 07:52] rrajkomar commented on #195
Yes that's, what I started workign on locally but got stuck with the issue that it does not seem to be possible to create multiple definitions with the same "target" class. Or I missed something somewhere.

Here's what I wrote on my dev :

[code]

then I tried

[code]

but neither worked :disappointed:

[2018-10-08 07:57] gregurco commented on #195
https://github.com/rrajkomar/EightPointsGuzzleBundle/blob/master/src/DependencyInjection/EightPointsGuzzleExtension.php#L78 - I think here we should be returned `Reference` and not `Definition`

[2018-10-08 08:28] rrajkomar commented on #195
I'll try this evening and get back to you.

[2018-10-08 08:43] florianpreusner commented on #218
@gregurco What do you think?

[2018-10-09 12:14] florianpreusner commented on #218
Created PR: https://github.com/symfony/recipes-contrib/pull/519

[2018-10-09 12:24] florianpreusner opened #222 "[Profiler] Collapsible Request and Response section"
Based on https://github.com/8p/EightPointsGuzzleBundle/issues/210:

Collapsible Request and Response section (sometimes there are a lot of data in request/response section and user might want to collapse it)

[2018-10-09 12:25] florianpreusner opened #223 "[Profiler] Total requests time on the profiler page"
Based on #210:

Total requests time on the profiler page (not only in bottom bar). It can be useful in the API projects, because there bottom bar is not used.

[2018-10-09 12:27] florianpreusner opened #224 "[Profiler] Add detailed request time desc. (dns lookup, ...)"
Based on #210:

More detailed request time description: dns lookup time, connection time, etc..

[2018-10-09 12:28] florianpreusner opened #225 "[Profiler] Change color in left menu based on http status code"
Based on #210:

In left menu counter of request can be red if there are failed requests (response status >= 400)

[2018-10-09 12:29] florianpreusner opened #226 "[Profiler] Color change based on request time"
Based on #210:

If request time is more than expected (should be configurable) then time label should change the color.

[2018-10-09 12:30] florianpreusner commented on #210
Extracted all topics into separated tickets. Ticket will be closed.

[2018-10-09 12:30] #210 closed

[2018-10-09 12:31] florianpreusner commented on #218
Going to remove "[WIP]" from PR title once you checked, @gregurco.

[2018-10-09 13:10] florianpreusner commented on #172
Part 2 is not necessary cause assets:install will be run by framework-bundle.
https://github.com/symfony/recipes-contrib/pull/512#discussion_r221609209

Thanks for the hint, @gregurco! 🙌

[2018-10-09 13:10] #172 closed

[2018-10-09 14:04] gregurco commented on #218
@florianpreusner Looks good to me :+1: Approved PR.

[2018-10-11 15:55] rrajkomar opened #227 "Client autowiring"
Since autowiring is obviously a big thing that will most likely stay :)
maybe now would be a good time to start thinking about whether it'd be possible to move away from the current client configuration to something more autowiry-like.

What's your take on this subject ?

[2018-10-11 16:48] gregurco commented on #227
Yep, but `autorwire` is more related to one-class services. In out case we can have 5 clients and all 5 clients will be instance of the same class and in this case it's impossible to autowire without some additional configuration. Also we have an article where we described how to use autowire in context of this bundle: https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/doc/aut

[2018-10-13 17:48] gregurco commented on #195
#221 was merged. I think this issue can be closed and next step will be to write documentation described in task #177 . Subscribe to it to be announced when documentation will be implemented.

[2018-10-13 17:48] #195 closed

[2018-10-14 17:07] rrajkomar commented on #195
Actually, I've already took the liberty of updating the README.md file to add the related documentation.
Unless you want to put a specific page with a more detailed example.

[2018-10-15 20:59] gregurco commented on #227
@rrajkomar did the article answer your question? Can we close the issue or do you have any suggestions?

[2018-10-15 21:55] rrajkomar commented on #227
Sorry.
Well from youranswer I guess the only way to move away from the current way would be making the Client class abstract and therefore induce a bc break.
We might talk about this again later on but it can be closed for now.

[2018-10-15 21:55] #227 closed

[2018-10-15 22:10] rrajkomar commented on #178
Sorry I'm using this topic because I have a question related to the whole plugin system.
Why use bundle class to create plugins ? Why not simply define tags for different types of elements (middleware, event listeners) ?
Since you provide a base interface any class that implements it can be used as a plugin element given a tagged service is created for the class.

The tag would then be used to loa

[2018-10-15 22:14] gregurco commented on #178
Hello. This decision is not the random one. I spend days and days to find any other solution and I can write just one hint: configuration tree of bundle is built in the moment when container, tags, services, autowire and so on are not existing. So, it's the level where you don't have this symfony "sugar" :slightly_frowning_face:

[2018-10-15 22:28] gregurco commented on #178
Compiler Passes are executed later and out of the bundle scope. So in Compiler Pass you can define services and so on, but you can not modify the configuration tree of specific bundle.

[2018-10-15 22:32] rrajkomar commented on #178
Yes but the solution I was suggesting does not require changing the Configuration tree at that point.
The idea is to dynamically add the element to the HandlerStack and/or the client when executing the Compiler Pass.

The "main" bundle would be looking specifically tagged services which can be defined in other bundles.

[2018-10-16 08:39] rrajkomar commented on #178
I'll work on a demo on what I had in mind. In the meantime, could you tell me how to fix the Stopwatch issue when running tests. It is quite cumbersome to test for issues :)

[2018-10-16 08:42] gregurco commented on #178
Could you please open separate issue with more details? Please post console output, version of PHP and PhpUnit.

[2018-10-16 09:22] rrajkomar opened #229 "Cannot stub or mock class or interface "Symfony\Component\Stopwatch\Stopwatch" which does not exist"
PHP : 7.1.11
PHPUnit: 6.5.13
When running the tests I get this on almost every ExtensionTest and ProfileMiddlewareTest :
[code]

[2018-10-16 14:57] gregurco commented on #229
Created PR #230 with fix.

[2018-10-17 06:27] gregurco commented on #229
PR #230 was merged. Now it should be ok.

[2018-10-17 06:27] #229 closed

[2018-10-18 12:30] gregurco commented on #226
Implemented in PR #228

[2018-10-18 12:30] #226 closed

[2018-10-18 13:10] rpkamp opened #231 "New release please?"
Master is quite a bit ahead of the latest release. Could you cut a new tag please?

https://github.com/8p/EightPointsGuzzleBundle/compare/v7.3.1...master

[2018-10-18 13:13] florianpreusner commented on #231
Already planned: https://github.com/8p/EightPointsGuzzleBundle/milestone/6

[2018-10-18 13:13] #231 closed

[2018-10-18 16:46] rrajkomar opened #232 "Add a base interface for Middleware classes"
Loooking at the current state of the Middleware classes in the bundle, I see that each Middleware class uses a different method name to return the `\Closure` to be used.

Don't you think it would be best to have a MiddlewareInterface to have something that's always similar ?
To be honest I'm not sure what to use for the name of the method that would return the Closure.

But currently depending on

[2018-10-18 20:36] gregurco commented on #232
Generally middlewares don't have any interfaces and we can implement one for out 5 middlewares, but what to do with all other from packagist: https://packagist.org/?query=guzzle%20middleware
You can notice that there is no common standard and there is no benefit to introduce it just for 5 middlewares. It will cause problems to connect other.

[2018-10-18 21:08] rrajkomar commented on #232
I respectfully disagree.
I'm talking only about the middlewares in this bundle (and potentially others that would want to follow a well known best practice).
Adding an interface might not be a huge gain in anything other than cleaner code (and easier to follow) but it's still a good thing to do.

As for the last part, sorry but I don't follow...
In what way would external middleware be impacted ?

[2018-10-19 08:05] StarGuardian opened #233 "Impossible to use environment variables as base_url value"
| Q                | A
| ---------------- | -----
| Symfony version  | 4.1.6
| Bundle version   | 7.3.1

I try to use environment variable to set value of base_url parameter.
eight_points_guzzle.yaml
[code]

.env
[code]

But when I try to execute any symfony command I get error:
[code]

As far as I understand it happens because environment variable value resolved runtime, but I couldn't debug the

[2018-10-19 08:16] gregurco commented on #233
Hello.

Try to use next configuration:
[code]

[2018-10-19 11:17] florianpreusner commented on #218
Merged: https://github.com/symfony/recipes-contrib/pull/519
Ticket will be closed.

[2018-10-19 11:17] #218 closed

[2018-10-20 14:18] gregurco commented on #231
@rpkamp https://github.com/8p/EightPointsGuzzleBundle/releases/tag/v7.4.0 - published

[2018-10-20 15:33] gregurco commented on #232
I agree with you, that all middlewares in bundle should follow the same style and I think the better result would be to use `__invoke` method but we can't do it right now, because it will break BC. I plan to do it before release v8.
What I think about interface - it makes no sense just to create interface. You should use it. For example, as dependency, like:
[code]
But we don't have any places to

[2018-10-20 16:07] gregurco commented on #233
@StarGuardian was the problem resolved? Can we close the issue?

[2018-10-22 06:18] rrajkomar commented on #232
Unless we create a "proxy" method to register a middleware in the handler stack  then no I don't think there's currently any use case like dependency injection.
But as soon as we agree that the different middleware classes within the bundle should follow the same style, it's all good. I'll wait for v8 to see these :smile:

[2018-10-22 06:18] #232 closed

[2018-10-22 06:19] rrajkomar commented on #232
Unless we create a "proxy" method to register a middleware in the handler stack  then no I don't think there's currently any use case like dependency injection.
But as soon as we agree that the different middleware classes within the bundle should follow the same style, it's all good. I'll wait for v8 to see this :smile:

[2018-10-22 09:39] StarGuardian commented on #233
Yes, thank you. It works.

[2018-10-22 10:41] #233 closed

[2018-10-23 10:54] nakashu opened #234 "How to inject dependencies to custom redefined Client Class"
| Q                | A
| ---------------- | -----
| Symfony version  | 4.1.4
| Bundle version   | 7.4.0

How to inject more dependencies into redefined Client Class as defined here:
- https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/doc/redefine-client-class.md
- https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/doc/autowiring-clients.md

As the service

[2018-10-23 14:21] gregurco commented on #234
Hello @nakashu
Why do you need to redefine client class and to write there some logic? I think it's a little bit wring way. Why not to define request/response interceptor? See how it works here: https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/doc/intercept-request-and-response.md
Or do you have some specific requirement?

[2018-10-23 16:14] nakashu commented on #234
@gregurco thanks for the response.

It just seems to much for adding a simple requirement or parameter like the mentioned locale to create a listener, just my point of view.

So basically just because its just such a small thing I would like to DI it into the class instead of adding it to listener. Thus making it easier for others to understand whats happening without splitting up the code to much

[2018-10-23 21:01] gregurco commented on #234
Probably it's possible to do without any classes and just with configuration. You gave as example the locale. How will it be used in the request? As parameter in body of all requests or how?

[2018-10-24 08:00] nakashu commented on #234
it would be in the logic of many but not all requests, in some request method.

[code]

[2018-10-24 09:14] mboron83 commented on #220
Hi. As @gregurco said it would be nice to have oportunity to use environment variables.I tried to do this with example below:
[code]

Unfortunately it gives me an error:

[2018-10-25 21:14] omarysadek opened #235 "Error: "You have requested a non-existent service \"eight_points_guzzle.middleware.profile.mercury_api\""
| Q                | A
| ---------------- | -----
| Symfony version  | 2.8.46
| Bundle version   | 7.4.0

**config.yml**

[code]

**config_dev.yml**

[code]

[code]

It works fine, when i downgrade the bundle to 7.3.1 version.

@florianpreusner i saw that you post a fix [here](https://github.com/8p/EightPointsGuzzleBundle/issues/165)

Am i missing something?

[2018-10-25 21:20] gregurco commented on #235
@omarysadek if it Prod or Dev env? Could you provide your yaml configuration of guzzle bundle?

[2018-10-25 21:29] gregurco commented on #235
Ans what happens if you will activate `profiling: true` ? Does the same error exist,

[2018-10-25 21:32] omarysadek commented on #235
I tried with the minimal setup, here the code

[code]

Still not working, the only way i found to make it working tis to downgrade the bundle, but i would like to use the lazy mode feature provided for 7.4

[2018-10-25 21:49] gregurco commented on #235
ok, I will test it tomorrow with your version of symfony and I hope I will reproduce the error :slightly_smiling_face: I will write the result here.

[2018-10-27 14:45] gregurco commented on #235
Fixed issue in PR #236

[2018-10-27 14:45] #235 closed

[2018-10-29 11:59] HEKET313 opened #238 "symfony/stopwatch rqeuired"
| Symfony version  | 4.1.6
| Bundle version   | 7.4.0

I executed `composer update`, your bundle updated and I've got an error "Eightpoint GuzzleBundle profiling requires "symfony/stopwatch" package" on "cache clear" stage. I see that your package requires this package under dev environment, but why it requires this package after including into project?

![image](https://user-images.githubusercont

[2018-10-29 12:12] gregurco commented on #238
Hello.
Do you run `composer update` in prod environment? Bundle requires `symfony/stopwatch` package in dev only and normally it should be installed in dev.

[2018-10-29 12:17] HEKET313 commented on #238
Nope, I don't run `composer update` in prod, but packages don't install their's dev requirements even under dev environment.

[2018-10-29 12:30] HEKET313 commented on #238
I won't argue, but I don't agree. Anyway, thank you for your time and fast response

[2018-10-29 12:33] gregurco commented on #238
I agree with you too. I will try to find more elegant solution :slightly_smiling_face: Thank you for reporting.

[2018-10-29 12:33] #238 closed

[2018-11-05 11:56] gregurco commented on #238
@HEKET313 fixed in PR #239. Thank you for reporting this issue :slightly_smiling_face:

[2018-11-06 10:40] gregurco commented on #220
Implemented in #241

[2018-11-06 10:40] #220 closed

[2018-11-07 11:41] stefandoorn opened #243 "Unrecognized options under Symfony 4 (Flex)"
| Q                | A
| ---------------- | -----
| Symfony version  | 4.1.7
| Bundle version   | 7.4.0

[code]

[2018-11-07 11:45] stefandoorn commented on #243
I'm trying to figure out how to add 'optional' settings to a recipe, so it allows me to use them.

[2018-11-07 11:52] stefandoorn commented on #243
Haha, indentation issue :-D

[2018-11-07 11:52] #243 closed

[2018-11-24 20:41] florianpreusner opened #244 "[Doc] Configure Guzzle Logger Middleware to log into a different Monolog channel"
Created monolog.yml under /config (SF 4.1):

[code]

---- created from comment by renatogcarvalho (Symfony Dev Slack, #8p-guzzlebundle, 18/11/24, 9:49 AM) ----

Hello @channel!

First of all, thank you for this amazing bundle. It was great to find a tool to accomplish exactly what I was already working on. Much appreciated.
I got a question though. Is there a way to configure the Guzzle Logger Mid

[2018-12-20 17:34] Thomas-Pamono opened #247 "Not possible to override headers in environment config"
| Q                | A
| ---------------- | -----
| Symfony version  | v3.4.8
| Bundle version   | v7.4.0

I'm having issues to override options->headers in environment configurations.
I have in config.yml the default configuration which should apply for all envs besides production.
(especially important as I have the auth key in the headers)

Unfortunately its using still the config.yaml configur

[2018-12-23 22:20] gregurco commented on #247
@Thomas-Pamono thank you for reporting. I was able to repeat the problem. The same issue was with `form_params` option too. I fixed it and also wrote the test. Could you please check PR #248 ?

[2018-12-24 21:55] #247 closed

[2019-02-08 13:22] wizbit opened #249 "Handler is not accessible"
| Q                | A
| ---------------- | -----
| Symfony version  | 4.2.2
| Bundle version   | 7.4.1

The handler is not accessible from the private container.
This makes accessing the MockHandler impossible.

[2019-02-13 10:42] murman-lexus opened #251 "Question: Does your bundle support JWT?"
Hi Guys! Nice Bundle!

how Can I Use JWT Authorization?

I need  install plugin
or use guzzle_bundle.pre_transaction event(https://github.com/8p/EightPointsGuzzleBundle/issues/38)
or Something else?

Thanks in advance

[2019-02-13 10:58] gregurco commented on #251
Hello @murman-lexus
This bundle fully supports functionality of guzzle. So in this case you can use pre transaction event with custom logic (jwt handling) or to connect already created 3rd party middleware: https://github.com/eljam/guzzle-jwt-middleware
You can connect through plugins system how it's described here: https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/doc/how-to

[2019-02-19 07:41] #251 closed

[2019-02-19 07:41] #249 closed

[2019-04-23 09:58] andreicio opened #253 "Oauth header not logged due to handler stack order"
| Q                | A
| ---------------- | -----
| Symfony version  | 4.2.7
| Bundle version   | 7.5.0

In \EightPoints\Bundle\GuzzleBundle\DependencyInjection\EightPointsGuzzleExtension::createHandler the plugins are added last to the handler stack, after the logging middleware. This means that the OAuth header does not show in the eight_points_guzzle panel of the profiler.
Is there any reason f

[2019-04-23 10:00] gregurco commented on #253
Hello @andreicio
I guess there are no reason to do like that, but I will recheck it and fix it to provide better logging :+1:

[2019-04-26 08:25] Gonzalo1987 opened #254 "Client service not found"
| Q                | A
| ---------------- | -----
| Symfony version  | 4.2.7
| Bundle version   | 7.5.0

I'm feel a little stupid right now, but I don't know what is happening. When I try use one of the clients configurated in the yaml file I get:

Service "eight_points_guzzle.client.api_exchange" not found: even though it exists in the app's container, the container inside "App\Controller\Default

[2019-04-26 08:29] gregurco commented on #254
Hello @Gonzalo1987 . I think you have 2 options:
1) Resolve this by extending `Symfony\Bundle\FrameworkBundle\Controller\Controller` instead of `ymfony\Bundle\FrameworkBundle\Controller\AbstractController`.
2) Use autowire as described here: https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/doc/autowiring-clients.md

[2019-04-26 08:42] Gonzalo1987 commented on #254
I'll autowire it, (since Controller is deprecated), Thank you very much, very useful!!!

[2019-04-26 08:42] #254 closed

[2019-04-29 11:48] koenigsascha opened #255 "[Logging] Logging large Requests fills memory"
in `/src/Log/LogRequest.php`, Line 73:

`$this->setBody($request->getBody() ? $request->getBody()->__toString() : null);`

I tried POSTing a 250MB binary file and this line reads the whole file into a variable which results in "Fatal Error: Allowed memory size exhausted.".

Disabling the logging in `eight_points_guzzle.yaml` with `logging: false` (like here: https://github.com/8p/EightPointsGuzzle

[2019-05-02 11:20] gregurco commented on #255
Hello @koenigsascha
Do you have any suggestions how to avoid this problem without disabling logger? I don't see another solution. If you know, that the response will be some large amount of information, then you disable logging and that's all, otherwise keep it as it is.

Finally, the logging is enabled by default only in dev mode. In prod this problem will not appear.

[2019-05-08 15:02] umpirsky opened #256 "Make it easier to integrate with debug toolbar"
### Use case

The bundle is required as dev dependency and used only in dev mode.
The only feature used is debug toolbar integration.

### Proposition

Make it easier to use debug toolbar integration only, without the need to configure clients using this bundle format.

One way to do it can be using custom tag, bundle then collect all tagged guzzle clients and do it's magic.

[2019-05-13 11:35] florianpreusner commented on #256
Hi @umpirsky,

thanks for your proposal. You would like to use symfony debug toolbar with your "own" clients that have been created without this bundle, right? So by tagging them they should be integrated in debug toolbar? Is my understanding correct?

Cheers

[2019-05-13 17:18] umpirsky commented on #256
Yes, that would be very useful and flexible.

[2019-05-20 17:51] #255 closed

[2019-06-03 20:04] EugenGanshorn commented on #176
is there somewhere a documentation how to create plugins?

[2019-06-03 20:37] gregurco commented on #176
Hello @EugenGanshorn
You can read this example to see how to create single-file plugin: https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/doc/how-to-create-a-single-file-plugin.md
also you can follow the example of other plugins:
https://github.com/8p/EightPointsGuzzleBundle#known-and-supported-plugins

As a middleware you can use this package: https://packagist.org/packages/

[2019-06-05 18:36] EugenGanshorn commented on #176
okay. i am created a plugin and it works, but one question: how can i use the logger in my plugin? i tried to do it like:
`            $logger = new Definition(Logger::class);
            $logger->addMethodCall('setLogger', [new Reference('eight_points_guzzle.logger')]);`
and inside my "Logger" class:
`        $this->logger->error($this->formatter->format($request, $response), ['request' => $reque

[2019-06-05 18:38] gregurco commented on #176
Because you're using guzzle logger. Use logger from Symfony: `Psr\Log\LoggerInterface`.
Link: https://symfony.com/doc/current/logging.html#logging-a-message

[2019-06-05 18:53] EugenGanshorn commented on #176
yes, with the symfony logger it works. but for example the 8p guzzle bundle logger has following output:
[2019-06-05 20:33:01] eight_points_guzzle.INFO: GET https://httpstat.us/503 503 [] []
and the symfony logger:
[2019-06-05 20:52:11] app.ERROR: ...
and i just want to have the same output to be consistent.

[2019-06-05 19:40] EugenGanshorn commented on #176
okay, i guess the trick is:
`
            $logger->addMethodCall('setLogger', [new Reference('monolog.logger.eight_points_guzzle')]);
`

[2019-06-05 19:48] EugenGanshorn commented on #176
can you pls review my plugin?
https://github.com/EugenGanshorn/GuzzleBundleRetryPlugin

[2019-06-06 10:51] mshavliuk opened #258 "Unable to use client without plugin"
| Q                | A
| ---------------- | -----
| Symfony version  | any
| Bundle version   | 7.0-current

Config:
[code]

After installing the plugin I started to handle this error while cache warming up:
[code]

It happens because of the following lines in `src/DependencyInjection/EightPointsGuzzleExtension.php`:
[code]

So you can see, that it tries to enable each available plugin for every c

[2019-06-06 10:52] mshavliuk commented on #258
I going to make pull request for this bug.

[2019-06-06 13:59] florianpreusner commented on #258
It only enables plugins that have been passed in constructor, see: https://github.com/8p/EightPointsGuzzleBundle#usage-1

Currently that's the only way to load plugins.

The config.yml file is providing an example where plugin configuration values have to be stored, e.g. wsse credentials: https://github.com/gregurco/GuzzleBundleWssePlugin#basic-configuration

Did you pass any plugin in Kernel, @ms

[2019-06-06 14:02] florianpreusner commented on #258
Ah, I see. Sorry. Now I understand the issue. 👍

[2019-06-09 20:12] #258 closed

[2019-06-14 08:45] gregurco commented on #176
Hello @EugenGanshorn
Sorry for delay and thank you for your effort to create new plugin.
Generally it's great, but I have one suggestion: it's not a good practice to keep composer.lock in repository.

[2019-06-14 19:45] EugenGanshorn commented on #176
You're right, I removed it.

Maybe you could close this issue then, if there is nothing else to do?

[2019-06-14 20:53] gregurco commented on #176
Yes, I close it. Thank you :+1:
You can open PR to add your plugin to this list: https://github.com/8p/EightPointsGuzzleBundle#known-and-supported-plugins

[2019-06-14 20:53] #176 closed

[2019-08-13 18:50] bropp commented on #177
Looking for some guidance about how to properly mock the Guzzle client in tests. I am able to get the container to use the MockHandler, but am unable to add the mocked responses. The queue is always empty.

Any thoughts about how to properly set this up?

[2019-08-13 18:52] bropp commented on #177
Any thoughts about how to properly provide mock clients in functional tests?

I've been able to configure the bundle to use the MockHandler as described, but don't know how to properly provide the mocked responses in my tests.

[2019-08-14 10:16] koenigsascha commented on #255
In case it helps anyone:
The problem disappeared, after I did `apt install php-curl`

[2019-08-14 20:28] ggagosh commented on #177
Any news about it?

As we use this as our one of the main bundle need some documentation (examples is great too) about how to mock it the right way.

[2019-08-16 20:25] gregurco commented on #255
@koenigsascha it's really strange, because guzzle can work without curl. You can check it here: https://github.com/guzzle/guzzle/blob/master/src/functions.php#L103
Otherwise `ext-curl` would be in `required` section in package.json, but it's only in dev dependency.
Finally it's great that this extension resolved your problem :+1: Thanks for info!

[2019-08-16 20:28] gregurco commented on #177
@bropp @ggagosh there are a lot of methods how to mock client. Each method is better in special cases. Could you please provide more details on your requirements from your projects and I will try to provide more information. Probably based on these answers we will be able to create documentation page.

[2019-09-20 14:16] bigfoot90 opened #266 "Output cUrl command"
For debugging purposes it would be nice to have a way to replicate the request out of php.
I'll make a PR in the next days.

[2019-09-20 14:17] bigfoot90 commented on #266
Sorry wong repo

[2019-09-26 14:38] cigraphics opened #268 "Deprecation in EventDispatcher"
User Deprecated: Calling the "Symfony\Component\EventDispatcher\EventDispatcherInterface::dispatch()" method with the event name as first argument is deprecated since Symfony 4.3, pass it second and provide the event object first instead.

The issue relies in Middleware/EventDispatchMiddleware.php

There are 3 usages of

$this->eventDispatcher->dispatch(GuzzleEvents::PRE_TRANSACTION, $preTransacti

[2019-09-26 20:52] gregurco commented on #268
Hello @cigraphics
Thank you for reporting. This deprecation message was fixed in PR #265 . This changes will be released next days. You have two options: move to `dev-master` version or wait few days for new release. Also you can sudscribe for new releases by "watch" button at the top of the page.

[2019-09-26 20:52] #268 closed

[2019-09-27 09:21] bigfoot90 commented on #266
What you need to merge #267 ?

[2019-09-27 09:27] gregurco commented on #266
@bigfoot90 the PR is ok. First of all I want to check some minor issue and probably to do one more fix for version 7. After that we will start preparing for v8 and your task will be merged to master, that will become v8. Are you ok, if we will merege it in few days?

[2019-09-27 09:37] bigfoot90 commented on #266
This is not a BC, so it can be merged on v7 as minor version. Please let me know what can I do to speed up this and close this work. Thanks.

[2019-09-27 09:40] gregurco commented on #266
@bigfoot90 it's not about BC. It's more about new release we plenned to do some time ago and to motivate developers to migrate to new version via new features.
Do you need this change ASAP in release or you can use master or wait for new release? It's important for us, because you did the PR.

[2019-09-27 10:03] bigfoot90 commented on #266
It's OK. It is not ASAP, I only need to close this work on my side.

[2019-09-27 11:20] gregurco commented on #266
@bigfoot90, I think it's totally done on your side. You will receive emeil, when PR will be merged.
Thank you!

[2019-09-27 11:50] gregurco opened #269 "Drop support of old versions of PHP and Symfony"
Accept in v8 next versions:
- SF >=4.0
- PHP >= 7.1

Also drop old layer of functionality and adjust PHP code.

[2019-10-02 11:16] gregurco commented on #253
Fixed in PR #270

[2019-10-02 11:16] #253 closed

[2019-10-04 09:22] #266 closed

[2019-10-11 21:56] gregurco opened #275 "Upgrade PHPUnit from 6 to 7"
Version 6 of PHPUnit is already not supported. We have to migrate to version 7. Version 8 is not proper for us yet, because it required at least PHP 7.2.

More info: https://phpunit.de/supported-versions.html
Useful link: https://github.com/8p/EightPointsGuzzleBundle/blob/master/phpunit.xml.dist#L9

[2019-10-11 22:56] espipj commented on #275
I suggest you to use https://github.com/rectorphp/rector to do so ;)

[2019-10-12 02:28] RageZBla commented on #275
Let me try to take a stab at this one, I want to play with rector as well.

[2019-10-12 04:58] RageZBla commented on #275
@gregurco is it OK to remove support for PHP 7.0 on travis?

[2019-10-12 13:40] gregurco commented on #275
@RageZBla the support of PHP 7.0 is dropped in #274. So your PR will be merged after it.

[2019-10-16 08:48] #269 closed

[2019-10-17 07:04] #275 closed

[2019-10-18 08:18] rpkamp commented on #224
This sounds awesome, but where could we get that information? I've searched for a bit, but couldn't find anything on how to retrieve these timings from Guzzle.

[2019-10-26 14:11] #223 closed

[2019-10-31 07:08] #222 closed

[2019-11-15 14:52] marcusorjames opened #279 "Clear up Event Subscriber and Event Listener in documentation"
## The issue
I've noticed that in the documentation in the [code snippet ](https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/doc/intercept-request-and-response.md#interceptor-class) the namespace is EventListener but in the [second snippet](https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/doc/intercept-request-and-response.md#implement-interceptor-logic

[2019-11-15 15:09] gregurco commented on #279
Good point, @marcusorjames
Symfony has good article related to this topic: https://symfony.com/doc/current/event_dispatcher.html#listeners-or-subscribers
I also think that it's better to provide either listener or subscriber.

[2019-11-25 01:51] matheusfaustino commented on #177
Hi, first of all, thank you for your lib. I'd like to know if there is a example of how to do the mock. I replaced the handler, it's the MockHandler, but I can't add any request to the queue in the tests. I tried the `setHandler` method from Guzzle Client and I tried to use reflection class to get the Mock class and append things, but without success.

Could somebody help me with this, please? Thn

[2019-11-25 03:41] matheusfaustino commented on #177
Well, I think I found a way through. One thing that I didn't mention before it was that I'm using api-platform and because I'm using api-platform, I'm using its ApiTestCase to write the functional tests, and the problem was that my modifications weren't being applied in the container. But, if I disable the kernel reboot (`static::createClient()->disableReboot()`), it keeps the modification through

[2019-11-29 10:30] rpkamp commented on #279
I think this is closed by #281

[2019-11-29 10:35] gregurco commented on #279
@rpkamp yes and no :slightly_smiling_face: I did not add the case with Event Subscriber and I'm thinking do we need it or not.

[2019-11-29 10:39] rpkamp commented on #279
Personally I'd keep it simple and just recommend the listener. It's easier to implement and easier to explain.

I would assume that people who want to create a subscriber are familiar enough with Symfony to write one for themselves.

Also, there is no clear way for Event Subscribers on how to filter on different clients like there is with event listeners.

[2019-12-01 09:55] rpkamp commented on #279
Alternatively, two events could be fired for each request/response instead of one.

1. A generic event that fires regardless of which client is active, and
2. A client-specific event that can be handled by listeners/subscribers subscribing specifically to that client

The generic event can be used by listeners who want to do stuff like logging, tracing, profiling, auditing, etc.
The specific event

[2019-12-03 09:24] gregurco commented on #279
@rpkamp I think it's good idea. Could you create separate issue with same text and we can discuss it there and probably plan some actions?

I close this issue.

[2019-12-03 09:24] #279 closed

[2019-12-03 09:36] rpkamp opened #283 "Create specific events per client"
For the PRE_TRANSACTION and POST_TRANSACTION events I'd like to propose two events should be fired for each request/response, instead of one.

1. A generic event that fires regardless of which client is active, and
2. A client-specific event that can be handled by listeners/subscribers subscribing specifically to that client

The generic event can be used by listeners who want to do stuff like log

[2019-12-03 09:37] rpkamp commented on #279
Done https://github.com/8p/EightPointsGuzzleBundle/issues/283

[2019-12-03 09:41] gregurco commented on #283
I think the idea is good. You are right, that in this case we can remove a lot of code and to reduce the complexity. If @florianpreusner is ok with change, then we can:
1) do one more commit with deprecation on v7 and one more minor version
2) to refactor events in master and this change will be in v8
3) describe guide how to upgrade events from v7 to v8 in UPGRADE.md

@florianpreusner what do you

[2019-12-05 22:39] florianpreusner commented on #283
A very nice idea! I don't see any disadvantages. 👍 👍 👍

[2019-12-06 08:20] gregurco commented on #283
@rpkamp please let us know, if you have desire to integrate these change in v8?

[2019-12-06 13:18] rpkamp commented on #283
Yes, I'd be happy to do that :)

But I'll first send a PR for the deprecation in 7.x :smile:

[2019-12-06 14:51] gregurco commented on #283
@rpkamp Ok, greate! If you want, I can do that. Just write.

[2019-12-06 16:02] rpkamp commented on #283
No, I'm happy to do it :slightly_smiling_face:

[2019-12-18 16:40] skroberto opened #286 "Invalid definition for service "eight_points_guzzle.handler_stack.xyz""
| Q                | A
| ---------------- | -----
| Symfony version  | 4.4.0
| Bundle version   | 7.6.0
| PHP version   | 7.1.21
| Guzzle version   | 6.3.3

Hi, not sure if this is a bug in the bundle or a misconfiguration on my side so please help me to track this down.

Symfony 4.4 has introduced a Service Container Linter to check the services defined in the container. This can be run from cons

[2019-12-20 13:18] knyk opened #288 "lint:container throws exception after installing bundle"
| Q                | A
| ---------------- | -----
| Symfony version  | 5.0.2
| Bundle version   | dev-master

after installing bundle `lint:container` throws exception
[code]

[2019-12-31 16:41] rpkamp commented on #283
This done now (PRs https://github.com/8p/EightPointsGuzzleBundle/pull/287 and https://github.com/8p/EightPointsGuzzleBundle/pull/284), I'll close this issue :)

[2019-12-31 16:41] #283 closed

[2020-01-11 12:05] jmatthiesen81 opened #292 "Symfony 4.4 profiler stops working on latest 8.0.0 release"
| Q                | A
| ---------------- | -----
| Symfony version  | 4.4.2
| Bundle version   | v8.0.0
| PHP Version | 7.4.0

The Symfony profiler stops working throwing the following error:
Unexpected error occured: Neither the property "iconColor" nor one of the methods "iconColor()", "geticonColor()"/"isiconColor()"/"hasiconColor()" or "__call()" exist and have public access in class "EightPo

[2020-01-11 13:00] gregurco commented on #292
Hello @jmatthiesen81
Thank you for reporting the issue. Could you please clear the cache and check if the issue will appear? We totally removed `iconColor` and you can check that there is no mention of `iconColor` in the code at all.

Which cache can cause the problem: symfony cache or opcache

Thanks.

[2020-01-11 14:52] jmatthiesen81 commented on #292
I thought, that the automatically executed clear cache command from composer at the end of an update process is enough. After manually clearing the cache it worked. Trying to reproduce the problem by downgrading to 7.6 and updating back to 8.0 is currently not possible. Did you revoked the package from packagist?

[2020-01-11 15:54] gregurco commented on #292
Thanks for checking.
I did a release by mistake :slightly_frowning_face: I want to check one reported bug before release. For now you can use dev-master and it will be released next days.

[2020-01-11 15:54] #292 closed

[2020-01-19 17:46] gregurco commented on #288
Hello @knyk

This problem is not caused directly by Guzzle Bundle. You can check, that we don't use `kernel` as a service in our DI configuration. I found that the problem is created by symfony event dispatcher that we use in bundle for handling events. Also the problem exists just in dev, so I can say that the problem probably is related to service `debug.event_dispatcher`.
Al least this problem

[2020-01-19 19:12] gregurco commented on #286
Hello @skroberto
No, the problem is not in misconfiguration. I check your config and it seeks to be ok. Probably you have the same issue as in #288 because I didn't manage to receive your error message, but with SF4.4 I received same message as for SF5.0. I think the problem is in linter. It can't handle all cases for now.
Can you provide information, if bundle works or doesn't work properly? Do y

[2020-01-20 10:12] knyk commented on #286
@skroberto this error is related to symfony. it had bug where linter couldn't resolve services defined by using expression language. it is already fixed by one of the latest symfony versions

[2020-01-20 10:13] #286 closed

[2020-01-20 10:21] knyk commented on #288
@gregurco yes, it only appears while linting container.
i done some debug and it seems that some symfony services depends on `KernelInterface` so it is possible that one of bundle's dependencies cause that problem. maybe bundle use deprecated one which depends on kernel.

i'm starting to not trust to that linter, because in dev environment it throws me an error because i use Sentry DSN as env vari

[2020-01-20 10:28] gregurco commented on #288
@knyk thank you for response and information. I think linter will be ready for ci/cd in next versions, when it will be adjusted to all possible cases :slightly_smiling_face:

[2020-01-20 22:41] #288 closed

[2020-01-28 15:03] rvanlaak opened #293 "Profiler crashes when `symfony/asset` is not available"
| Q                | A
| ---------------- | -----
| Symfony version  | 5.0.3
| Bundle version   | 8.0.0

## Possible solution

* remove sole dependency on `{{ asset() }}` from codebase

## What?

When installing this bundle on Symfony 5 it needs `symfony/asset` when running in `debug` mode.

![image](https://user-images.githubusercontent.com/2707563/73275291-332c1800-41e7-11ea-9277-47f3948561ec.pn

[2020-01-28 15:15] rvanlaak opened #295 "Support dark mode"
| Q                | A
| ---------------- | -----
| Symfony version  | 5.0.3
| Bundle version   | 8.0.0

The following two css rules cause problems for dark mode:

![image](https://user-images.githubusercontent.com/2707563/73276562-30322700-41e9-11ea-9280-d6f3d030b506.png)

![image](https://user-images.githubusercontent.com/2707563/73276587-39bb8f00-41e9-11ea-9464-0b0ec513312d.png)

## Before

![i

[2020-01-28 15:28] gregurco commented on #295
Hello
Good observation! I'm not sure about removing, because we want to highlight these boxes, but I think dark mode adds some classes at the top level. I think we can add some rules, when dark mode is activated, colors will switch to dark style or light style, but not the same as background.

[2020-01-28 16:11] rvanlaak commented on #295
Would be good to follow the Symfony best practices on styling of the panels. Might be an idea to reuse the css classes from the profiler?

[2020-01-29 12:47] #293 closed

[2020-01-29 14:50] gregurco commented on #295
which classes do you mean? Could you give examples?

[2020-01-29 15:59] rvanlaak commented on #295
These can be found at [`symfony/web-profiler-bundle/Resources/views/Profiler/profiler.css.twig`](https://github.com/symfony/web-profiler-bundle/blob/master/Resources/views/Profiler/profiler.css.twig), which is the base CSS that gets imported when the pane would [`@WebProfiler/Profiler/base.html.twig`](https://github.com/symfony/web-profiler-bundle/blob/master/Resources/views/Profiler/base.html.twi

[2020-02-26 11:50] alexandrubau opened #297 "Error encountered when creating new plugin"
Upon trying to create a new plugin using the steps from [here](https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/doc/how-to-create-a-single-file-plugin.md), I encounter the following error:

[code]
and
[code]

This happens because the methods `boot()` and `build()` have return type set to `void` in `EightPoints\Bundle\GuzzleBundle\PluginInterface` but the `Symfony\Component\H

[2020-02-26 11:57] #297 closed

[2020-02-26 11:58] alexandrubau commented on #297
Problem solved by downgrading Bundle Version from 8.0 to 7.5.

[2020-02-27 07:56] gregurco commented on #297
@alexandrubau thank's for hint. Now you can use v8.

[2020-03-02 20:33] goetas opened #299 "There are no registered paths for namespace "EightPointsGuzzleBundle""
| Q                | A
| ---------------- | -----
| Symfony version  | 4.4.2
| Bundle version   | master
Getting:

`There are no registered paths for namespace "EightPointsGuzzleBundle" in @EightPointsGuzzle/debug.html.twig at line 74.`

[2020-03-02 21:03] goetas commented on #299
This is displayed as soon as I try to open the profiler on the guzzle section

[2020-03-03 15:43] gregurco commented on #295
@rvanlaak sorry for the late reply. I think the idea is good, to use classes provided by symfony.
Do you want to integrate that? PR is welcome.

[2020-03-03 19:55] gregurco commented on #299
@goetas thanks for reporting. Now it's fixed.

[2020-03-03 19:55] #299 closed

[2020-03-03 20:40] goetas commented on #299
thanks!

[2020-05-07 08:51] julien-maurel opened #303 "Possibility to log request and response in separate logs"
| Q                | A
| ---------------- | -----
| Symfony version  | 4.4
| Bundle version   | 8.1.0

Hi,
Perhaps it's already possible but I didn't find how : is it possible to logs request and response details in 2 separate logs?
Because when I activate logs on my client, I have only one logs after the response.
Thanks.

[2020-05-07 09:23] gregurco commented on #303
Hello @julien-maurel
Please check this PR: https://github.com/8p/EightPointsGuzzleBundle/pull/289
Does it solve your problem?

[2020-05-07 11:48] julien-maurel commented on #303
Hi,
No, I tried this settings and I have only one log (after response) even if I set logging to REQUEST_AND_RESPONSE.
Waht I try is to have one log before request execution and one log after (with response).
Thanks

[2020-07-01 21:15] colinodell opened #305 "[Feature Request] Custom Log Formats"
It would be great if this bundle allowed custom log formats using [Guzzle's `MessageFormatter` class](https://github.com/guzzle/guzzle/blob/master/src/MessageFormatter.php#L12).

For example, I have the need to log the full request including the headers and body, but only the response headers.  The current options don't seem to allow this.

[2020-07-01 21:23] gregurco commented on #305
Hello @colinodell
Could you please check this parameter: https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/config/services.xml#L22 ?
Does it resolve your problem?

[2020-07-01 21:31] gregurco commented on #303
Hello

Sorry for late response. If the problem is still actual then you can find the solution here:
1) create custom middleware similar with this one: https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Middleware/LogMiddleware.php
2) inject in middleware 2 loggers (not one, as in exemple)
3) Configure first logger to write in first log file and trigger this logger in request middleware

[2020-07-01 21:31] #303 closed

[2020-07-04 15:15] colinodell commented on #305
Ah, I didn't see that!  Yes, that will work as a short-term solution.  I do want to add other clients in the future, possibly with different log formats, so having a config option to customize the format per-client would be nice.  But this should work for now.

Thanks!

[2020-08-26 08:58] Axent96 opened #310 "User Deprecated: Since symfony/routing 5.1: The "Symfony\Component\Routing\RouteCollectionBuilder" class is deprecated, use "Symfony\Component\Routing\Loader\Configurator\RoutingConfigurator" instead"
| Q                | A
| ---------------- | -----
| Symfony version  | 5.1.3
| Bundle version   | 8.0.1

[2020-10-03 14:22] rpkamp commented on #310
I don't think this message is related to EightPointsGuzzleBundle, as it doesn't use the `RouteCollectionBuilder` at all. There is probably another reason in your application why you're getting this deprecation.

[2020-10-05 14:54] Axent96 commented on #310
I cannot found the application for this problem. So, you are right :) Sorry for my mistake

[2020-10-05 14:54] #310 closed

[2021-03-30 16:52] rrajkomar commented on #177
Coming back to this topic after a while, and a lot more use case experience, I'm no longer convinced the MockHandler was been the best way to implement the mocking mechanism.
Now using a lot of Behat tests, I'm faced with an issue that could not be solved by any of the proposed solution (I even tried an adapted version of @matheusfaustino 's solution, sadly it didn't work as expected)

When using

[2021-08-20 11:22] notresponding2u opened #311 "Get EntityManager in guzzle plugin"
| Symfony version  | 5.3.6
| Guzzle version | 8.2

I am trying to make a guzzle plugin, for all clients. Which logs the requests.

What I am trying to do, is to get the EntityManager in the plugin and pass it to the middleware. This is probably the wrong approach,  and this is what I need help with - how to get the entity manager in the middleware.

So far I get this error when I try to get the en

[2021-10-14 08:51] Starojitski opened #312 "Autowiring GuzzleHttp\ClientInterface does not work out of the box"
Followed installation instructions:

[code]

But when running website get the following exception

![image](https://user-images.githubusercontent.com/4128920/137282685-d3d2f55b-f276-4366-85c7-fd4ce8e21f78.png)

Defining service and alias helped but would rather not have to do this, if possible. Any advice?

[code]

| Q                | A
| ---------------- | -----
| Symfony version  | 4.4.32
| Bun

[2021-10-14 08:57] gregurco commented on #312
Hello @Starojitski,

Yep, we know about this problem. You can read more about autowiring in this bundle here: https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/doc/autowiring-clients.md

I think it's possible to activate autowiring if you have just one client. I will check how to do that. Thanks for idea 👍

[2021-10-14 09:00] Starojitski opened #313 "No information in Guzzle Profiler tab"
![image](https://user-images.githubusercontent.com/4128920/137285366-233dcf6c-32b6-447a-a227-0870ffcd2e48.png)

At least 5 guzzle requests were executed but none are shown.
Configured like this:
[code]

Any advice would be appreciated

| Q                | A
| ---------------- | -----
| Symfony version  | 4.4.32
| Bundle version   | 8.2.0

[2021-11-17 09:42] rpkamp commented on #311
IMO This bundle shouldn't be tied to Doctrine directly. It should log to monolog (which it already does) and then Monolog should be set up to write to Doctrine.

That way it's a lot easier to switch where to log to without having to change anything in the Guzzle Middleware.

[2021-11-17 09:45] rpkamp commented on #313
1. What is the value of `%kernel.debug%`
2. Are you indeed injecting the `@eight_points_guzzle.client.default` into services that require a Guzzle Client or are you creating (a) Guzzle client(s) elsewhere?

[2021-12-29 08:31] #311 closed

[2022-02-05 12:40] florianpreusner commented on #313
Closing issue because of missing additional information.
Thanks for helping out @rpkamp 🙌

[2022-02-05 12:40] #313 closed

[2022-02-05 19:20] gregurco commented on #295
Done in #316

[2022-02-05 19:20] #295 closed

[2022-04-08 20:07] olivier1980 opened #317 "Can't set cookies to a file path in config"
| Q                | A
| ---------------- | -----
| Symfony version  |v6.0.7
| Bundle version   |v8.3.0

Guzzle version 7.4.2.

According to the docs, I should be able to enter a string for the 'cookies' value..see https://github.com/8p/EightPointsGuzzleBundle/blob/master/src/Resources/doc/configuration-reference.md.

The configuration is locked to a boolean value though, so it won't work. When ma

[2022-04-19 10:40] adpeyre opened #318 "A log channel by client"
Hi,

Today, all logs of clients are logged in the same channel. \
Is there a solution for a specific client to use a defined channel ?

I would like for example attach an email alert for a specific API (client).

Ty

[2022-04-29 11:55] #318 closed

[2022-05-03 08:08] gregurco commented on #318
Hello @adpeyre

Sorry for the late reply. Special middleware is responsible for logs. You can find this middleware [here](https://github.com/8p/EightPointsGuzzleBundle/blob/v8.3.0/src/Middleware/SymfonyLogMiddleware.php). This middle is defined defined in configuration [here](https://github.com/8p/EightPointsGuzzleBundle/blob/v8.3.0/src/DependencyInjection/EightPointsGuzzleExtension.php#L382). So,

[2022-05-18 13:24] gregurco commented on #317
Hello @olivier1980
Yes, there is an issue on the configuration reference page. At the client configuration level, the cookie parameter should have a boolean value. Please read here how guzzle cookies work: https://docs.guzzlephp.org/en/stable/quickstart.html#cookies

[2022-05-18 13:25] #317 closed

[2022-06-08 14:47] garak opened #319 "Composer description is outdated"
| Q                | A
| ---------------- | -----
| Symfony version  | irrelevant
| Bundle version   | latest

I was looking for a guzzle bundle, and I was about to discard this one because of its description:

It's pretty outdated, maybe it should remove "2/3/4" and mention "Symfony" alone.

[2022-06-09 06:53] gregurco commented on #319
Hello 🙂 Thank you for remark. Initially it was a good idea to keep compatibility while developers are migrating projects. Now I agree that it's possible to cut these versions from support. Gonna do it next weeks.

[2022-09-07 06:58] dbu opened #320 "Feature request: more information in the PostTransactionEvent"
It would be useful to have the PostTransactionEvent provide the request as well. and the exception if there was one.

that way, i would be able to correlate request with the response or error.

[2022-09-14 14:17] dbu opened #321 "feature request: allow to configure middleware on the handler"
In our application, we have some clients where we use specific middleware services. We configure them as symfony service. To allow us to configure them in an eightpoints guzzle client, i found no way to do that and ended up writing a plugin. The plugin is so simple that i think it would make sense to integrate it directly into the bundle to allow a configuration section `middleware` on each client

[2022-09-30 15:56] hdumazeau opened #322 "A log without a message is not allowed by some log services"
| Symfony version  | 5.4.x
| Bundle version   | 8.3.0

Some log services no longer allow logging without a message.
For example the graylog2/gelf-php bundle required by monolog/monolog does not allow this in the latest version:
https://github.com/bzikarsky/gelf-php/blob/master/src/Gelf/MessageValidator.php#L53

In your bundle, a log without message exists:
https://github.com/8p/EightPointsGuzzleBu

[2022-11-08 08:13] kurtextrem opened #323 "Setting CURLMOPT_ options"
As far as I can tell using the yaml config, we can set curl_* options, but is it also possible to set the curl*m* options? (https://www.php.net/manual/de/function.curl-multi-setopt.php) Guzzle should support those